[2016-01-20 21:09] akaplo opened #1 "Testing"
<b>Testing</b> is an important part of the development of the app.  To save some time, I've omitted testing during the alpha stages, but as we begin to approach a beta-quality app that continues to grow in size, it is imperative that we begin to cover our code with tests.

Angular has documentation for this, and there are many frameworks we can use.  I'd like to use this issue as a discussion foru

[2016-01-20 21:23] akaplo opened #2 "Data Usage Saving"
Currently, when anyone views a page that contains Avail data, that data is redownloaded.

<b>example</b>: you search for Arnold House, view its Stop Departures for a minute, then go look at where the buses on NA/BR are currently located, and then go back to view Arnold House's Stop Departures.

At the time of this writing, this sequence contains the following data requests:
1. The list of ALL Stop

[2016-01-20 21:25] akaplo opened #3 "Vehicle Search"
The current version of the app doesn't include the list of all PVTA vehicles on the road on the Search page.  This is something that we should add for PVTA/bus people to use as a helpful tool in their jobs.

So, if you're waiting for 3306 on the 35-1 to show up so you can start your shift, instead of going searching through the 35's page and finding the bus, you should just be able to search for 3

[2016-01-20 21:33] dfaulken commented on #2
For ~~'static' data like routes and stops~~ the schedule PDFs, it'd be nice if we didn't have to manually push out updates - we already have a few sub-tasks dependent on Hastus changes. Maybe a middle ground - ~~pull just once a day~~ specify some dates on which we know new schedules will be published?

[2016-01-20 21:36] werebus commented on #2
I believe @akaplo was suggesting that the app would be responsible for that.  That is, if the the stop list was more than, for example, 14 days old it would re-fetch it from Infopoint.

[2016-01-20 21:39] dfaulken commented on #2
Do we always push out schedule changes >14 days in advance?

[2016-01-20 22:55] werebus commented on #2
Welp, hard to say, but herein you are describing the general problem with caching.

If we had control over the server-side of things (hah) we would be able to specify `Last-Modified` or `ETag` headers and then use `HEAD` requests.  As it stands, InfoPoint "says" via its headers that we should never cache its data:

[code]

[2016-01-21 01:34] akaplo commented on #2
I agree with all of this.  Interestingly, there is an endpoint for 'static' data:

http://bustracker.pvta.com/InfoPoint/rest/staticdata/getallstaticdata

which, also interestingly, is just the list of Visible Routes.  So, at the very least, I'd say Avail "supports" caching of these data, if nothing else.

@werebus was right about what I meant, and @dfaulken has a good point about the schedules.

I

[2016-01-21 01:41] akaplo opened #5 "Separation of Controllers"
As our controllers grow, it will soon be necessary for them to be in separate files.

More on this soon.

[2016-01-21 01:45] akaplo opened #6 "URL Repetition"
The app has many <code>$resource</code> calls that retrieve data from Infopoint.  Each one takes, as a parameter, a full URL. In each of these URLs, the portion

http://bustracker.pvta.com/InfoPoint/rest/ <b>never changes</b>.

As noted by @werebus in #4, we should move the unchanging part into configuration files to eliminate having to type (or copy and paste) this every time.

By making it a var

[2016-01-21 01:57] akaplo commented on #3
Closed via #4.

[2016-01-21 01:57] #3 closed, assigned to bgregg

[2016-01-21 02:04] akaplo opened #7 "Remove Vehicle List From Sidebar"
No end-user that isn't a Transit/PVTA person is ever going to use the page dedicated to the list of all vehicles on the road. I have it in there because I needed to be sure I knew what I was doing when I started the app.

Since, as of #3, the functionality to find a bus, if you need it, is built into Search, this page can be removed.

This would involve:
1. Removing <code>vehicles.html</code> enti

[2016-01-21 02:08] akaplo opened #8 "Add a Stop List Page to the Sidebar"
Although Search contains the ability to see a list of Stops, they're mixed in amongst Routes and Vehicles.

Adding a page to the sidebar consists of the following:
1. Add <code>stops.html</code> to the <code>templates</code> directory.
2. Create a <b>state</b> called <b>app.stops</b> in <code>app.js</code>
3. Create a controller called <b>StopsCtrl</b> in <code>controllers.js</code>
4. Add an <cod

[2016-01-21 05:07] dfaulken commented on #7
I'll take this - removing stuff is probably an easy way for me to start getting oriented.

[2016-01-21 17:04] akaplo commented on #7
Great! I don't expect you to have any issues, but let me know if you do.

[2016-01-21 17:19] dfaulken commented on #7
Thanks!

[2016-01-21 17:20] akaplo commented on #8
@bgregg, I think that this is a good 2nd project for you.  It, again, can be a lot of copy and paste, but you're likely to run into an error or two when changing stuff around (possibly related to dependencies) that should be helpful in adding to your understanding of Angular's workflow.

[2016-01-21 17:58] bgregg commented on #8
Sounds good I'll get working on it!

[2016-01-21 18:22] akaplo opened #9 "GTFS Data"
GTFS (google it) contains CSV schedule data.  This is an offshoot from #2 when it comes to data saving, but is an entirely different issue.

We should include GTFS data in our app because it would enable users to select a day, time, route, and location from (say) a dropdown list. This sounds easier than googling PVTA schedule PDFs and searching through them (I've heard they can be confusing to pas

[2016-01-21 18:28] akaplo commented on #5
I'm going to take this on now.

It should be a fairly simple switch that involves adding a module definition to app.js (the same definition is currently at the stop of controllers.js).

I'll then create a separate file for each controller, the definition of which will specify that we're adding another controller to the controllers module.

[2016-01-21 18:46] akaplo opened #10 "grunt-include-source"
Currently, we have to explicitly add every file we need in the project to <code>index.html</code> via a  <code>script</code> tag.

This isn't terrible, but as the app grows and we amass more controllers, it might be nice to include all the files in the controllers directory so that we don't have to add a new line every time we create a new controller.

[grunt-include-source](https://www.npmjs.com/

[2016-01-21 18:48] werebus commented on #9
Sounds more-or-less right, although PVTA has "plans" to switch to having Avail also provide the GTFS feed (rather than Hastus).  When that happens, it's likely that the trip ids will be easier to match up :pray:  Probably best to wait on this issue until they've resolved that one way or the other (check with @sherson)

Also, you'll want to consider loading the GTFS files into some sort of database

[2016-01-22 02:30] akaplo opened #12 "Refactoring Root Module Name"
This is a simple change.

Across the app, the Angular module that's defined is called 'starter,' as in
<code>angular.module('starter.services', function(){...});</code>

Since the name of this app is not 'starter,' I propose we refactor it to 'PVTA'.

I propose waiting on this until #11 is merged, because it moves a module definition.  Starting this and doing it immediately would require it to be

[2016-01-22 02:36] akaplo opened #13 "Pretty-ing Up the Route Details Page"
The Route details page isn't so pretty to look at, especially after seeing how the Route list page has come along.

It should be prettier!  Things to take into consideration include:
1. The organization of information provided (HTML)
2. The style of how it's presented (SCSS)

[2016-01-22 02:43] akaplo commented on #8
Great! If you run into issues while I'm not around, hit up Slack (just cause it's easier to respond with code and whatnot than texting, you know?).

[2016-01-25 17:11] bgregg commented on #6
I'll check it out

[2016-01-26 20:21] #8 closed, assigned to bgregg

[2016-01-27 19:16] petermarathas opened #15 "Search page should not display all items before query"
We should find a way to search items without displaying every possible item beforehand.

On top of this: possible recent search items on the search page

[2016-01-27 19:17] akaplo commented on #9
[LocalForage](http://mozilla.github.io/localForage/) from Mozilla might be the way to go on supporting these.

[2016-01-27 19:26] akaplo opened #16 "Nearest Stops"
Like BusInfoBoard, we should use the $location service to get and populate a list of the ~3 <b>nearest stops</b> to the user.

This'd likely be similar to what we're already doing in the MapController when we get current location, but we'd need to parse the list of stops and compare lat/long to find the closest ones.  BusInfoBoard's code may function for this...we could just steal it?

[2016-01-27 20:57] akaplo opened #17 "Make Stops Searchable"

[2016-01-27 20:57] akaplo opened #18 "Make Routes Searchable"

[2016-01-27 21:00] akaplo opened #19 "Current-Session Persistent Data"
I've already begun some work on this, so I'm making it an issue.

If we download tons of data that won't change during the current lifecycle of the app (aka before next quit), then we should save it so it doesn't get downloaded multiple times, because that'd just be a waste of data.

<b>All Stops</b>
<b>All Routes</b>
~~<b>All Vehicles</b>~~

I originally thought that this should include <b>vehicl

[2016-01-27 21:41] akaplo opened #20 ""My Buses""
<b>My Buses</b> (name pending) will be the front page of the app.

This page can have lots of things or very few things.  Namely, I envision it containing the following at least:
1. An interface for the user's "favorite" Stops and/or Routes that persist across all loads of the app.
2. Alerts (or just alerts related to the "favorites")
3. Possibly a series of prompts for trip planning (ex: "Where a

[2016-01-27 21:43] akaplo commented on #17
@bgregg if #6 turns out to be something you can't figure out, this would be what I'd pick for you next.

[2016-01-27 21:47] akaplo opened #21 "Make Routes and Stops "Favorite-able""
This feature should ship <b>with or very soon after #20 </b>.

Add a minimal UI element (perhaps a <i>star</i> or a <i>heart</i>), to the Route and Stop details page.  This way, when a user clicks on the star, the Route/Stop is added to their "favorites" and is then displayed on the My Buses page when the app loads.

It would also be smart to have 2 icons for the star/heart - one, say, that is jus

[2016-01-28 05:51] dfaulken commented on #7
Not going to be able to do this.

[2016-01-28 16:20] akaplo commented on #7
No worries!

[2016-01-28 16:27] akaplo commented on #7
Accidentally pushed my fix for this to master, but it works.  Closed.

[2016-01-28 16:27] #7 closed, assigned to akaplo

[2016-01-28 17:50] #5 closed, assigned to akaplo

[2016-01-28 17:52] akaplo opened #23 "icons and splash screens"
I've already made significant progress on this, so I've opened an issue.

An Android/iOS app will include a home screen icon and a splash.  Different versions of each OS do different things with them, and Ionic has nifty support for adding them to <code>/resources</code>.

[2016-01-28 18:05] #12 closed, assigned to akaplo

[2016-01-28 21:38] akaplo commented on #19
Closed via #22.

[2016-01-28 21:38] #19 closed, assigned to akaplo

[2016-01-28 23:14] akaplo commented on #18
Closed via #25.

[2016-01-28 23:14] #18 closed, assigned to akaplo

[2016-01-28 23:17] akaplo commented on #20
Going to start on this now.

[2016-01-29 04:17] akaplo commented on #9
Seems as though Google has done some work for us too.
[Google GTFS Code Samples](https://developers.google.com/transit/gtfs-realtime/code-samples?hl=en)

[2016-01-29 04:19] akaplo commented on #21
Implementing this in unison with #20.

[2016-01-29 14:24] werebus commented on #9
So, those code samples are for GTFS _realtime_, which PVTA doesn't have implemented yet.  Avail does intend to offer GTFS realtime support at some point, but I don't know what the timeline is.

Arguably, GTFS in conjunction with GTFS realtime can communicate all the same information as Avail's API.

[2016-01-29 17:54] akaplo commented on #23
Closed via #26.

[2016-01-29 17:54] #23 closed, assigned to akaplo

[2016-01-29 21:48] sherson commented on #9
Once the dust settles from the MyAvail upgrade, I suspect we'll be close to GTFS-realtime. I'll be at PVTA next week and will ask.

[2016-02-01 18:57] petermarathas commented on #16
Does BusInfoBoard do this? If I remember correctly, it takes the desired stops as parameters in the URL and doesn't use the user's location at all.

I'll start working on this. I think the best way to do this once we find out how to calculate distance is to order the stops on the Stops page by distance from the user.

Another idea if we don't want to calculate the distance from every stop is to st

[2016-02-01 19:18] werebus commented on #16
Yeah, the 'stop selector' page does.

https://github.com/umts/BusInfoBoard/blob/master/StopSelector/js/main.js#L136-L145

[2016-02-01 20:17] #20 closed, assigned to akaplo

[2016-02-01 21:51] akaplo commented on #21
Closed via #27.

[2016-02-01 21:51] #21 closed, assigned to akaplo

[2016-02-03 04:16] akaplo opened #29 "Search Drops Routes"
Somewhere, in the last couple of updates to master, a bug as been introduced that is isolated to the SearchController.

When it must download all routes, it does so (and properly so, according to my testing).  At some time between when the `$resource` callback fires and when we enter the for loop in `prepareRoutes`, a few routes get lost, namely the **30 and 33** (and one or two others I believe).

[2016-02-03 04:24] akaplo opened #30 "About/Settings Page"
This would be a new entry to the main sidemenu that gives some customizable options to make the app better suited to someone's needs (What would these options be?  At this point, I don't know. That's why this is low priority!), and perhaps a UMTS IT and/or PVTA blurb, version number, feedback module, etc.

[2016-02-03 04:32] akaplo commented on #9
@werebus I gotcha.  Since I now seem to be pining for repositories that may be able to do a lot of GTFS parsing work for us, I stumbled upon [this](https://github.com/brendannee/node-gtfs) 5 minutes ago.
It seems legit.

If we attempt to use this, we may have to do some editing because we aren't using Mongo, and Angular may make importing a little more complicated, but I'd say it's promising becau

[2016-02-03 15:42] #17 closed, assigned to nobody

[2016-02-03 15:42] #15 closed, assigned to nobody

[2016-02-03 16:19] petermarathas commented on #29
<a href="https://github.com/umts/pvta-multiplatform/blob/master/www/js/controllers/search-controller.js#L12">Here's the problem.</a>

We're taking a route out of routes, while we're looping through loops. So, whenever one is taken out, the <code>for</code> loop will skip over the next route. Basically, if we splice routes at index 2, the new route at index 2 will be the one that was once at index

[2016-02-03 19:02] akaplo commented on #29
I'll push a fix for this now.

[2016-02-03 19:08] akaplo commented on #29
Accidentally pushed to master.  Changed [this line](https://github.com/umts/pvta-multiplatform/blob/master/www/js/controllers/search-controller.js#L21) and added a block comment to explain why it exists.

Closed.

[2016-02-03 19:08] #29 closed, assigned to petermarathas

[2016-02-03 19:34] akaplo opened #31 "Stops List Isn't Hid Before Searching"
On the stops page, the correct prompt appears to enter a search query, but it only stays around until the stop list has been loaded, at which point it proceeds to display the entire list of stops.

Since the intended behavior is to hide them until a query is entered and it works properly on the main Search page, I'd categorize this as a bug that likely has a very easy fix.

[2016-02-03 20:04] sherson commented on #9
Once it's in GTFS-realtime, I think we could choose to either use Avail's feed or GTFS'.

Also, the project manager was in a meeting when I went to ask about timeline, but I'll try again later today or tomorrow.

[2016-02-05 03:29] akaplo commented on #1
I have begun working on this.  It will be a slow and painful process because I've never been a big testing person and have to learn all the frameworks and stuff from scratch.  It's not going to be as easy as RSpec, but I'll do what I can to make is as simple as possible for us to write tests.

Jasmine is the assertion library/framework and Karma is the "runner," or the thing that opens a fake brow

[2016-02-05 03:40] akaplo commented on #1
Jasmine has a general flow that goes as follows:

[code]

The caveat is that just writing that doesn't work.  Every file has to explicitly import the app's base module name (in our case, **pvta**) and the controller.

Also, since each controller has multiple dependencies injected to it (some written by us and some not), we have to import those dependencies into each file.

**But wait!**  What if a

[2016-02-05 16:44] petermarathas opened #32 "Google Maps API 'Plan trip'"
Inputting two addresses, we should figure out a way to use Google Maps API to calculate the routes/stops/times to get from point A to point B. The Avail mobile app does this by redirecting to google, we should figure out a way to implement this without leaving the app.

[2016-02-05 18:15] werebus commented on #32
Google definitely has a directions (including transit directions) API.

https://developers.google.com/maps/documentation/directions/

Note that that API _is_ rate- and request-limited.

https://developers.google.com/maps/documentation/directions/usage-limits

[2016-02-05 20:14] akaplo opened #33 "Search Returns Multiple Results For Some Stops"
I've noticed that when using Search (not Stops) for some stops, it will show multiple duplicate results that all redirect to the same page.

Interestingly, it seems as though this occurs only for stops that are serviced by multiple PVTA contractors.

For example: Arnold House, GRC, ILC, SAB, Mullins Center, Old Belchertown Road, Sugarloaf Estates, and Gatehouse Road all appear <b>only once</b>, an

[2016-02-07 20:11] akaplo opened #34 "Send Texts?"
[This site](http://textbelt.com) provides a REST endpoint and a server for sending text messages to phone numbers.  This may be a cool feature to have - ie, someone wants to know when a specific is getting close to a stop.

They put in their phone number and when they want to be texted, and they get one.

The question is, would implementing push notifications for the same use case be better?

[2016-02-07 22:06] werebus commented on #34
I, personally, would prefer push notifications to texts.  Also, the service you linked to has some pretty rough limitations:

Also, behind the scenes it's really just sending emails.  I thought to myself, "how do they know which carrier to send it to?" and it turns out that they just send one to yournumber@carrier_a.com, yournumber@carrier_b.com, yournumber@carrier_c.com, etc.  "success" means tha

[2016-02-07 23:05] akaplo commented on #34
I hadn't even read that far into it (just threw it up for thoughts), but you're absolutely right about not using that specific service.

That said: I, too, would push notifications in general.

[2016-02-07 23:12] akaplo opened #35 "Make StopDepartures Look Pretty"
I've already begun work on this, but I'll put it up as an issue in case discussion should happen.

Currently, the departures page for a stop looks like this:
<img width="996" alt="screen shot 2016-02-07 at 6 07 53 pm" src="https://cloud.githubusercontent.com/assets/7144148/12876049/be4b59f4-cdc5-11e5-8954-1fe5521c878d.png">

which is pretty "meh."

I really like how BusInfoBoard looks, so I've bee

[2016-02-07 23:22] akaplo opened #36 "Route KMLs"
As a sort of offshoot of #32, it would be extremely simple for us to include KML overlays onto our maps.  A KML file provides a trace of a specific route.

So, for example, if you're looking at 3401 on a map and it's currently on the 31, the marker for the bus would be placed as normal, but a pink-ish (the 31's color) trace would be overlaid along the route.

With the Maps Javascript API, it would

[2016-02-08 16:20] werebus commented on #36
Route KMLs can be found here

http://pvta.com/KML/KMLs.zip

Although that may not be a permanent location, per se.  These might be small enough that including them withing the application wouldn't be that big a deal (except for updates, I guess).

[2016-02-10 22:21] #35 closed, assigned to akaplo

[2016-02-10 22:22] akaplo commented on #13
Closed for now via #38.

[2016-02-10 22:22] #13 closed, assigned to nobody

[2016-02-10 22:25] akaplo commented on #9
@sherson did you ever hear from them?

[2016-02-10 22:37] bgregg opened #39 "Map that shows every bus"
Right now, you can only look at a map with one bus at a time. It would be cool if you could look at a map with all the buses near you (perhaps add a link to it in the index)

[2016-02-10 22:38] bgregg opened #40 "Active alerts by route"
Add a section on each route's page that shows the active alerts for that route

[2016-02-10 23:02] #6 closed, assigned to bgregg

[2016-02-10 23:09] bgregg opened #42 "Routes List should show UMTS buses first"
Right now, it shows all of the UMTS buses at the bottom because it sorts routes alphabetically with numbers last. Definitely should should show our buses first.

[2016-02-10 23:38] bgregg opened #43 "Refined searches"
Right now, a search query searches the entire object (i.e, if you search '30' and a different route has a route id containing 30, it will also show up). The search function should be refined.

[2016-02-11 03:08] akaplo commented on #43
FYI: the [messages endpoint](http://bustracker.pvta.com/infopoint/rest/publicmessages/getcurrentmessages) has an array property called **Routes**.  Simply checking if (the route id of the current route being displayed) is in ``messages.Routes`` should do it.

[2016-02-11 03:08] akaplo commented on #40
FYI: the messages endpoint has an array property called Routes. Simply checking if (the route id of the current route being displayed) is in messages.Routes should do it.

[2016-02-11 13:54] sherson commented on #9
Yes, sorry forgot to update this... I was told there is no timeline right now (they're dealing with bigger issues related to the MyAvail upgrade). I'm speculating, but it's probably months away.

For now we should continue working with the Avail feed (obviously) and we can reassess once GTFS-realtime launches.

[2016-02-11 13:58] werebus commented on #42
Well, the routes should be in an order that allows PVTA riders to find what they're looking for easier.  UMTS has had this conflict with the rest of PVTA for a while: do routes have a leading letter or not?
-  Our old mobile schedules page put numerals first
-  Avail puts letters first
-  The PVTA website ignores the letter and puts them in numeric order.

Of those, the 3rd is probably the easiest

[2016-02-11 16:58] akaplo commented on #9
No big deal! Good to know. I still think we should include GTFS schedule data. Other than the time it would take to implement, I see no detriment to it. Does anyone else have thoughts on this?

In terms of implementation, I'm thinking about forking the schedule feed parser I linked to above and tweaking it to work with Angular and the SQLite databases that cordova supports.

[2016-02-11 17:30] dfaulken opened #45 "Underscore.js"
For dealing with collections of data, [Underscore.js](http://underscorejs.org/) has lots of great methods for sorting, iterating, etc.

How do you feel about incorporating it?

[2016-02-11 17:51] dfaulken commented on #45
Here's an example [from the routes controller](https://github.com/umts/pvta-multiplatform/blob/master/www/js/controllers/routes-controller.js#L6-L12):

In this code, we're trying to store a collection of objects, but for each object, store just a few of their properties:

[code]

With Underscore, this [is](http://underscorejs.org/#map) one [line](http://underscorejs.org/#pick):

[code]

[2016-02-11 19:02] dfaulken commented on #33
Something to do with each garage maintaining a separate Hastus database - @werebus probably knows this one.

Anyway, it's probably find to uniquify stops by name, right, if they're all redirecting to the same place?

[2016-02-11 21:28] akaplo commented on #45
I think that's a fantastic idea!  Definitely a worthy addition.

[2016-02-11 21:30] akaplo commented on #33
In reference to uniquifying, I agree.  It's simply repeating the same object 2 or 3 times.

[2016-02-11 21:31] akaplo commented on #33
Also, I'm not sure if this is actually a **bug**, per se, because it is the intended behavior for somebody...just not us.

[2016-02-11 21:58] #45 closed, assigned to nobody

[2016-02-11 21:59] #40 closed, assigned to dfaulken

[2016-02-11 22:03] dfaulken opened #50 "Filter active alerts"
From #48, it would be nice if we filtered active alerts with the same logic that decides whether they're shown on the PVTA main page, etc.

Some attributes we could look at to do this:
- applicable weekdays
- start and end datetime
- whether they're published or not

I'm not actually sure what those other pages do.

[2016-02-12 04:03] akaplo commented on #50
Which "other pages" do you mean?

[2016-02-12 04:15] dfaulken commented on #50
PVTA's website is what springs to mind.

[2016-02-12 04:19] #42 closed, assigned to dfaulken

[2016-02-12 04:27] akaplo commented on #50
Ohh, you mean what they do to filter the messages.  Got it.

My question: does the endpoint **currentmessages** do this for us?  ie the 34/35 message is set to end on May 7.  Will it disappear from the endpoint at that time?  This example is active every day, but is the same true for messages that aren't active on, say, weekends?  Will they disappear from **currentmessages** during those times?  I

[2016-02-12 14:02] sherson commented on #9
Definitely. I initially mentioned GTFS since it's a good source for static (well, infrequently updated) schedule data, regardless of where we get the realtime data.

[2016-02-12 19:16] #16 closed, assigned to petermarathas

[2016-02-13 16:51] #33 closed, assigned to dfaulken

[2016-02-13 16:59] dfaulken commented on #43
It might reduce unexpected results if we just search over the names of things.

[2016-02-15 03:10] akaplo opened #53 "Stops List Broken"
#52 and #37 have combined to break the list of stops on the Stops page.

The issue: #37 changed the iteration technique to `collection-repeat`, which demands an array to iterate over.  This was done because it produces a much faster result for large datasets, which we certainly have.  #52 changed the type of the central stopslist to Object, which collection-repeat won't accept.

Additionally, #52

[2016-02-15 03:19] akaplo commented on #31
Closed, because this **IS** the intended behavior.  The list is now sorted by location, so displaying it immediately should drastically reduce the need for searching.

[2016-02-15 03:19] #31 closed, assigned to nobody

[2016-02-15 03:39] dfaulken commented on #53
In #52 it's an object of objects. Seems like an array of objects would be fine too.

[2016-02-15 04:13] #34 closed, assigned to nobody

[2016-02-16 20:09] sherson opened #56 "Map for embedding in other sites?"
This is a bit of a kludge, but Transit's public website has the MyAvail mobile map embedded as an iframe. For example, [Route 30](http://www.umass.edu/transportation/route-30-north-amherstold-belchertown-road):

<img width="611" alt="screenshot 2016-02-16 14 49 45" src="https://cloud.githubusercontent.com/assets/409008/13088979/93b27e2c-d4bc-11e5-98b6-34081827a5bf.png">

Since the middle of last y

[2016-02-18 16:53] akaplo commented on #56
As a matter of fact, this would be extremely simple.

3 minutes of editing has produced this:
<img width="1440" alt="screen shot 2016-02-18 at 11 51 33 am" src="https://cloud.githubusercontent.com/assets/7144148/13150975/fafa923e-d635-11e5-94ad-e291a1cba456.png">

The blue outline (not sure why it's blue yet **edit: it's blue because Avail has the wrong color entered in the kml...the 31's is pink

[2016-02-19 04:10] akaplo commented on #2
Closing this in favor of some variant of #9 being implemented.  This was first partially handled in #22, and these additions have since been tweaked in various PRs.  More modular issues may be opened in the future related to this, but I believe, as a whole, it can be closed.

[2016-02-19 04:10] #2 closed, assigned to nobody

[2016-02-19 04:22] akaplo opened #58 "Code Comments"
My biggest complaint on round3 is looking at code that makes no sense and also has no comments.  The scope of this issue is going through and commenting all the code that currently resides in the project.

However, the general principle of this issue goes much further.  I try (and often fail) to live by the standard  of commenting any code that is nontrivial.  I'd like that to be a goal for _multi

[2016-02-19 04:23] akaplo opened #59 "Code Climate"
Covers addition of CodeClimate checks in our app.  Not sure how well it knows Angular, but worth looking into.

[2016-02-19 04:30] akaplo opened #60 "Remove App Dependencies From Version Control"
Currently, all dependencies are saved in the www/lib folder and uploaded to GH with the rest of the app.  This is not the desired behavior; it is the case because I screwed up the Bower installation on my machine when I first started developing the app.

It is my responsibility to set this right.

[2016-02-21 23:02] akaplo commented on #59
@dfaulken and @werebus I've made some progress on this (on Master), but I feel like there's a lot more I can add to [.codeclimate.yml](https://github.com/umts/pvta-multiplatform/blob/master/.codeclimate.yml) that would help it to better score us.  Do either of you know of anything?

[2016-02-21 23:14] #36 closed, assigned to akaplo

[2016-02-22 00:03] akaplo commented on #60
Being developed as part of #1 and #64.

[2016-02-22 00:03] dfaulken commented on #59
Nothing that I know of - their engine docs are pretty good, so if there's nothing else there that strikes your fancy, I'm sure it's fine.

[2016-02-22 00:11] akaplo opened #64 "Generator Refactor"
This issue describes a large-scale "refactor" that will be invisible to the user.

Using [the generator-m-ionic module](https://github.com/mwaylabs/generator-m-ionic), we will have an **extremely** robust toolset at our disposal.

Some features will include:
-  A new Gulpfile
- Easy unit and integration testing via Karma and Protractor (respectively)
- CLI wrappers for Gulp that give us more power

[2016-02-22 04:37] dfaulken commented on #58
Could you define nontrivial?

[2016-02-22 05:07] akaplo commented on #64
Development on this is progressing on the [gen-refactor](https://github.com/umts/pvta-multiplatform/tree/gen-refactor) branch.

[2016-02-22 15:23] akaplo opened #65 "Displaying Active Detours"
Avail's "getcurrentmessages" endpoint provides us with longstanding detours/messages that have been entered by us, but not shorter things like "Route 30 is bypassing Valley Medical due to slippery conditions." I assume Satco  and Vatco  also have methods of communicating detours, but I've never seen any of them in currentmessages (and thus on pvta-multiplatform).

Is there anywhere where these kin

[2016-02-22 15:31] #10 closed, assigned to nobody

[2016-02-22 15:33] akaplo commented on #1
The scope of this issue is basic testing support. This is being wrapped into #64.

[2016-02-22 15:33] dfaulken commented on #65
So under normal circumstances, `getcurrentmessages` will contain detours like that, and in fact all detours. At the moment there are some issues preventing folks from connecting.

[2016-02-24 16:33] #53 closed, assigned to nobody

[2016-02-24 22:35] akaplo commented on #65
Got it!

[2016-02-24 22:35] #65 closed, assigned to nobody

[2016-02-24 22:40] akaplo commented on #58
That's certainly open for discussion, as what constitutes "trivial" means different things for different people.

For me, loops (standard for, while, for-each...but perhaps not for-of), standard data structures (Object, Array, List, JSON) and their main functions (insert, remove, lookup), and variable assignments are trivial.

As for what I'd consider nontrivial: Callbacks, nested loops of any kin

[2016-02-24 22:52] dfaulken commented on #58
Well, I obviously can't speak to how this is usually done for angular apps.

In Rails, the catchphrase is "convention over configuration" - so if you're using a technology in a standard way, then it's not really worth duplicating that technology's documentation with your own comments. Then if someone is confused about how your code works, that's because they're not as familiar with the technology

[2016-02-26 03:51] akaplo opened #66 "Implement pull-to-refresh"
There are a few places in the app where this feature exists, but does nothing.

I see it being useful in the RouteController, StopController, and VehicleController, namely for getting bus positions, updated stop departure times, and bus positions, respectively.

@bgregg and I will be pair programming this.

[2016-02-26 03:52] akaplo commented on #66
(apparently I can't assign multiple people to a single issue)

[2016-02-26 04:38] akaplo commented on #59
Perfect. Closed.

[2016-02-26 04:38] #59 closed, assigned to akaplo

[2016-02-26 05:01] akaplo opened #68 "Javascript Linting"
The scope of this issue is adding an equivalent to running `rubocop -a` on our Javascript code. Likely, the way to achieve it will be via Gulp tasks and ESLint.

[2016-02-26 05:06] akaplo commented on #64
This has been scaled down and will be presented in much more atomic PRs.

[2016-02-26 05:06] #64 closed, assigned to akaplo

[2016-02-26 05:14] akaplo opened #70 "PVTA Meeting"
This is mainly a question for @sherson, but @dfaulken and @werebus are welcome to contribute.

As the app nears something that's presentable, how would we go about presenting it to the PVTA brass so that becomes "official?"

Additionally, what would we consider a "ready" state?  It's far from ready, but it gets closer and closer with each PR, so I don't think it's too unreasonable to start thinkin

[2016-02-26 16:38] sherson commented on #70
I'm going to call the PVTA Project Manager about a few topics today or Monday. This is one of them.

Depending on what she says, perhaps we can present it at the next PVTA Service Review (I'll double-check with Glenn about when it is).

Do you time to go through it with me this afternoon? (perhaps before code review)

[2016-02-26 20:32] #66 closed, assigned to bgregg

[2016-02-26 20:35] akaplo opened #72 "Add More Details To Map Markers"
@bgregg has suggested that the Map display useful information about markers when they are clicked.

ie if the marker is for a Vehicle, it has a name, last stop, etc.

[2016-02-26 20:36] akaplo opened #73 "Display Vehicles For Route on Map"
@bgregg has suggested that, when attempting to plot a Route on the map, that each Vehicle for that Route is also plotted.

[2016-02-26 20:36] akaplo commented on #73
Closed via #71.

[2016-02-26 20:36] #73 closed, assigned to nobody

[2016-02-26 20:44] #30 closed, assigned to akaplo

[2016-02-26 21:04] bgregg opened #74 "Stop Map doesn't show your location"
For some strange, mystical reason, the map that renders a stop does not show your location. It doesn't make any sense. Definitely worth looking into.

[2016-02-26 21:25] akaplo opened #75 "Beta Testing"
As we continue to improve multiplatform and prepare it for launch, I'd like to launch a beta program for UMTS people and others who are interested in testing the app before it's released.

Does anyone know how we'd go about doing this?  I think we could send a notification on round3 and perhaps include a link to download it for Android (for iOS, they'd have to come to one of us).  At the very leas

[2016-02-28 23:15] akaplo opened #77 "Map Failure on Routes With No Buses"
When mapping a route that currently has no buses on it, the current location and the KML are both properly plotted on the map, but the map centers itself on the middle of the world (which, by default, is the default).

So, there's an issue when we call `bounds.extend` when adding attempting to add vehicle locations to the map that only occurs when there aren't actually any vehicles to add.

Steps

[2016-02-28 23:30] akaplo opened #78 "Route List Partially Broken"
The route list drops all of the routes for the remainder of the session if the these steps are followed:
- Open the app
- Navigate to the Routes page from the sidebar
- Make sure the list has loaded
- Navigate to Search
- Navigate back to Routes

Notice now that Routes just says "no results."  If you try to search for something on the Routes page, you'll never get a result.  If you go back to Sear

[2016-02-28 23:37] akaplo commented on #43
What would be the best way to go about this?

[2016-02-29 19:33] werebus commented on #75
I know the Android marketplace has [a mechanism for beta-testing](https://support.google.com/googleplay/android-developer/answer/3131213?hl=en), though it does require a developer account.

[2016-02-29 20:10] bgregg commented on #77
This (should be) fixed by PR #79.

[2016-02-29 20:23] sherson commented on #75
I emailed AFS about registering as an Apple developer and as a Google Play developer (regarding legal concerns, paying the fee, and getting in touch with those on campus that are already registered).

You'll know when I know.

[2016-03-01 04:14] akaplo opened #80 "Enable External URL Redirection"
As of this writing, the Settings page contains a few links that should redirect (preferably by switching to the default web browser) the user to the site referenced by the link.

As of Beta 2 in pvta-multiplatform/releases, clicking the links (at least on Android devices) produces no response.

I assume this is a Cordova permission that we can add to config.xml, since a mailto command **does** ind

[2016-03-01 04:34] akaplo opened #81 "Implementable GTFS Workaround"
I have an idea that would save our users data in case #9 is never implemented (which, if we end up integrating with Bojangles, I doubt it ever will be), but I'm interested in opinions before considering moving forward.

We already have a custom service that holds onto things like the Stop list and Route list for an entire session.  Why don't we add a timestamp to those, push them to localforage, a

[2016-03-01 04:35] akaplo commented on #56
@sherson, did I (at least partially) answer your question?

[2016-03-01 04:41] akaplo commented on #70
@sherson awesome! Let me know when you hear back.

I messaged you on Slack about a time to go through it (not sure if you check it/get notified)

[2016-03-01 04:43] akaplo commented on #39
I believe @bgregg has begun work on this; assigning him to it so nobody else (aka me) forgets and starts working on it :stuck_out_tongue:

[2016-03-01 08:56] sherson commented on #56
Yep, thanks! Let's talk more about this today.

Will ask about Route 30's [8-digit hex](https://developers.google.com/kml/documentation/kmlreference#color) at http://pvta.com/KML/KMLs.zip (should be `7f20a0c7`):

[code]

Route 30's color is correct in the Avail [feed](http://bustracker.pvta.com/InfoPoint/rest/Routes/GetAllRoutes):

[code]

[2016-03-01 14:24] sherson commented on #56
PVTA had manually changed the color... they're changing it back.

[2016-03-01 17:08] akaplo commented on #75
As an FYI, the "current" beta release is available for easy downloading and installing on Android [here](https://github.com/umts/pvta-multiplatform/releases/tag/v0.5.2-beta.2)

[2016-03-01 18:57] akaplo opened #82 "Change Route Page"
@dfaulken brings up a good point that the Route page won't be particularly useful for normal passengers.

Ideas include putting a map that has the trace and each bus at the top of the page. Anything else?

[2016-03-01 19:00] akaplo opened #83 "Store kml Zip File Locally"
As opposed to pulling a single KML from Avail every time we wish to plot a route, we should download and save (and redownload at some interval) the zip file that contains all KMLs.

[2016-03-01 19:05] akaplo opened #84 "Convert localforage to angular-localforage"
[angular-localforage](https://github.com/ocombe/angular-localForage) is a library that adds Angular-y calls to the localforage library.

Adding it may remove a few lines of code from the app.

[2016-03-04 03:48] #60 closed, assigned to akaplo

[2016-03-04 15:52] akaplo opened #86 "Maps Broken in Master"
Don't know how, don't know why.

[2016-03-04 20:35] #86 closed, assigned to nobody

[2016-03-05 00:50] #68 closed, assigned to akaplo

[2016-03-05 00:52] akaplo commented on #77
This has indeed been closed by #79.  Good work!

[2016-03-05 00:52] #77 closed, assigned to nobody

[2016-03-05 00:53] akaplo commented on #74
As magically as it appeared, it seems to have been resolved.  See below for me requesting Arnold House be mapped.

<img width="1440" alt="screen shot 2016-03-04 at 7 52 59 pm" src="https://cloud.githubusercontent.com/assets/7144148/13544334/c1015680-e242-11e5-86da-c6a3ffb957b0.png">

[2016-03-05 00:53] #74 closed, assigned to nobody

[2016-03-05 00:56] akaplo commented on #70
Closing this.  @sherson let me know when you hear about any updates.

[2016-03-05 00:56] #70 closed, assigned to nobody

[2016-03-05 00:56] akaplo commented on #75
Closing this until @sherson hears anything further.

[2016-03-05 00:56] #75 closed, assigned to nobody

[2016-03-05 10:30] sherson commented on #70
Nothing specific to report, but the PVTA project manager and I talked yesterday; we'll setup a time to do a demo (they're straight out right now).

Also, I'm usually on slack (I wasn't getting notifications until now).

[2016-03-05 10:30] sherson commented on #75
Nothing specific to report, but the PVTA project manager and I talked yesterday; I asked about registering as developers.

Will followup with them next week... it may take a bit, but I think it'll happen. In the meantime, we'll continue to test it internally.

[2016-03-07 20:38] bgregg opened #93 "Walking directions for a stop"
A cool feature to add would be to have when you click on the map button for a stop, it gives you walking directions from your location to that stop. I know @petermarathas worked on a lot of this logic so maybe you can help us on this one.

[2016-03-11 14:20] #78 closed, assigned to akaplo

[2016-03-12 21:06] #81 closed, assigned to akaplo

[2016-03-14 17:45] akaplo opened #98 "Mapping a Single Vehicle"
#94 partitioned the Map logic to consist of a service and two controllers: route-map and and stop-map.  route-map also plots all vehicles on a specific route, but what if you want to plot a single vehicle from its own detail page?  As of #94, you can't.

This is technically the expected behavior; as such, I'm not rolling back #94, as a PR addressing this issue would resolve it.

So, (@bgregg) we p

[2016-03-14 18:47] bgregg commented on #98
I'll get on it right away

[2016-03-15 16:35] #98 closed, assigned to bgregg

[2016-03-15 18:10] akaplo commented on #83
So it looks like it's not physically possible for this to happen.

I wrote code that successfully downloads the KML .zip from PVTA, unzips it, and saves it.  The issue is that Google's API needs a publicly accessible KML file _hosted on the Internet_ to add to the map (see [this StackOverflow article](http://stackoverflow.com/questions/3514785/loading-a-local-kml-file-using-google-maps) for some b

[2016-03-15 18:10] #83 closed, assigned to nobody

[2016-03-15 18:15] dfaulken commented on #83
I think it might be worth touching base with Google on this one, just to make sure there isn't a way to do this.

[2016-03-15 18:21] werebus commented on #83
I do have one thing to add, yes.  Noticed this when Adam posted the link to [PVTA's Swagger docs](http://bustracker.pvta.com/InfoPoint/swagger/ui/index):

[code]

[code]

Given that it's a public feed result (and not scraped from the Chrome developer tools), I think it's safe to use `BaseUrl` + `KmlUrl` + `RouteTraceFilename` as the route's KML trace.

[2016-03-15 18:25] werebus commented on #83
As far as @dfaulken's [comment](#issuecomment-196956859), There seems to be pretty good consensus on the linked SO article.  It makes sense, in that Google is doing the processing of an XML-ish file into an image on their servers rather than in the "browser".

[2016-03-22 21:01] akaplo opened #101 "Spanish Support"
A decent amount of PVTA's ridership is from the Springfield/Holyoke area, and a significant portion of this population speaks Spanish natively.  As such, I think an app that targets them should include Spanish localization.

Cordova has a plugin called [globalization](https://github.com/apache/cordova-plugin-globalization)(which is also the title of a great Pitbull album) that will help us figure

[2016-03-23 21:51] bgregg opened #102 "Stops Local Forage is Broken in Master"

[2016-03-23 22:20] akaplo commented on #102
Yeah this is completely my bad. I somehow managed (in #97, presumedly?) so screw it up.

[2016-03-24 03:17] akaplo commented on #102
~~@bgregg I'll have to try this on your laptop tomorrow because it works in my browser and emulator when I try it (with one quirk that I've fixed and is easily apply-able on your machine).~~

~~It definitely was broken earlier so I'm interested to know what the difference could possibly be.~~

Lies, I found edge cases.

[2016-03-24 03:44] akaplo commented on #43
Since this issue was opened, the search functions have been indirectly refined (by the fact that we strip the objects of their properties we don't need in (I think) all cases), I propose marking this as resolved.

Objections?

[2016-03-24 16:01] #102 closed, assigned to akaplo

[2016-03-24 16:03] akaplo commented on #56
So we can use some of our map code on Transit's public site but it'd require more changes than I'd originally thought (because our ionic / angular code would need to be ported).

I'm gonna close this issue in favor of opening one in that repository.

[2016-03-24 16:03] #56 closed, assigned to nobody

[2016-03-24 17:09] werebus commented on #56
"that repository"

You're funny.

[2016-03-24 17:13] akaplo opened #104 "Add CodeClimate Integration to PRs"
This is something that someone with total access to the UMTS organization must do.

@dfaulken, @werebus, @sherson.

[2016-03-24 19:35] werebus commented on #104
All set, I think :question:

I won't close this until one works.

Also, I'm curious. I think this sort of mention would have worked:  @umts/owners (at the expense of bothering Metin and Logan)

[2016-03-25 22:54] akaplo commented on #104
Looks good to me! Thanks!

[2016-03-25 22:54] #104 closed, assigned to nobody

[2016-03-26 21:33] akaplo commented on #43
Hearing none.

[2016-03-26 21:34] #58 closed, assigned to nobody

[2016-03-26 21:35] akaplo commented on #84
Looked more into this and it won't really be super helpful and would require a ton of useless code changing.

[2016-03-26 21:35] #84 closed, assigned to nobody

[2016-03-29 22:10] akaplo opened #108 "New Stop page doesn't properly handle routes with multiple directions"
Introduced in #107, the logic that allows for display of **every** known upcoming departure at a stop is flawed.

When a route with numerous directions (i.e. 35, which has OHill and Mullins Center) has upcoming departures for both directions at a stop, there are two dropdown entries for each route, which is _not_ the desired behavior.

This issue is compounded by the fact that the dropdown logic u

[2016-03-31 02:25] akaplo opened #111 "PVTA Meeting"
The meeting with Caroline and Josh from the PVTA is scheduled for Friday April 8 at 2PM in the UMTS conference room.

For this meeting, I'd like to have a slightly "polished" version of our app.  The goal is to merge
- [x] #100
- [x] #106
- [x] #109
- [x] #110 by the middle of next week (April 5-6) so that we can all take a few days to try to find bugs and/or polish the UI in preparation for the d

[2016-04-01 17:18] petermarathas opened #112 "Sort route departures by time"
:100:

[2016-04-01 18:36] #108 closed, assigned to akaplo

[2016-04-01 19:10] bgregg opened #113 "Styling for Mobile version is off for stop page"
#109 has some styling issues when deployed on mobile devices. Definitely must fix before #111 happens.

[2016-04-01 19:43] akaplo opened #114 "Stop Getting Directions By Default"
Now that mapping a stop gets you walking directions to it, we should change it from being the default.

When mapping, we should just plot the stop.  Perhaps add a bar/ button to the bottom that, when clicked, would slide the map up and give you walking directions.  This would save a TON of Maps API calls.

[2016-04-01 21:06] akaplo commented on #39
Changing the milestone to beta 4.

[2016-04-01 21:07] akaplo commented on #80
Changing this to beta 4 as well. I tried working on it but had trouble.

[2016-04-01 22:31] akaplo opened #116 "VehicleMapController Never Renders Map"
The `VehicleMapController` on master has trouble about half the time (in my experience) in mapping buses that have been selected **via the RouteController**.

Console error:

Steps to reproduce:
1. To to the page for a route
2. Click on a vehicle on that route
3. Attempt to map said route

[2016-04-01 22:39] akaplo opened #118 "Is the RouteMapController Obsolete?"
If #117 gets merged without any more major interface overhauls, it will do 99% of what the RouteMapController does (the exception is InfoBubble stuff).

This begs the question: is it smarter to move the special logic from the RouteMapController into a service and just apply it to the RouteController?

I'd like to hear everyone's thoughts, @bgregg especially (since he made the RouteMapController).

[2016-04-02 01:59] akaplo opened #119 "Uniquifying the Stops List?"
As seen in code review today, the iOS emulator wasn't properly uniquifying the stops list.  Haigis Mall appeared three times, just like it used to.

This should be looked into and fixed, especially for #111 if we plan on showing the mobile version instead of/in addition to the browser version.

[2016-04-03 20:03] akaplo commented on #93
Closed via #100.

[2016-04-03 20:03] #93 closed, assigned to bgregg

[2016-04-03 20:08] akaplo opened #120 "Split services.js into separate files"
The file is like 400 lines long and as such has a CodeClimate rating of F--- (well, an F, but if it could...).

[2016-04-04 14:29] bgregg commented on #114
I will work on this since I did all of the logic for this controller. But @akaplo, did you want this for Friday? I put it as Beta 4 right now, but I may be able to work it in (but it may require some sleepless nights haha)

[2016-04-04 14:31] bgregg commented on #120
I actually thought of this when I was doing a tutorial on Angular a few months ago. Shouldnt be too difficult to do. The more abstraction the better!

[2016-04-04 14:34] bgregg commented on #39
This is something I just havent gotten around to. Once we deploy Beta 3, I will work on this first thing.

[2016-04-04 14:44] bgregg commented on #118
The infobubble stuff is actually in the Map service, not the RouteMap controller (because we have done away with the Google Maps infowindows). In terms of special logic that you didn't include in #117, there really isnt any. I would just want to go through and fix some syntactical things to make it consistent for maps across the board.

[2016-04-04 15:09] bgregg commented on #116
I'll look into it

[2016-04-04 15:12] bgregg commented on #116
So I just tried it with 10 different routes (and every vehicle on said routes), and it worked everytime. Not sure where the issue is coming from. @akaplo, maybe today in 320 you can show me what you mean?

[2016-04-04 15:40] akaplo commented on #116
Maybe my computer (and/or internet and/or location services) was/were playing tricks on me. I'll try to reproduce when I see you and we can close this if I fail to do so

[2016-04-04 18:40] #72 closed, assigned to bgregg

[2016-04-05 03:04] akaplo commented on #114
Best to wait for beta 4.  I'd rather have something stable for Friday with the PRs we've got.

[2016-04-05 03:06] #113 closed, assigned to akaplo

[2016-04-05 17:15] bgregg opened #123 "Moving from Google Maps to Angular UI Google Maps"
We should be using Angular's map directives instead of Google Map's API's

[2016-04-05 17:18] bgregg opened #124 "Route Map doesn't render in specific edge case"
If you redirect to a route map from another route map, the second one will not render. However it works if you have redirected there using the app's back button (not the browser back button). Bizarre. See #122.

[2016-04-05 20:04] akaplo commented on #124
This also applies to Vehicle maps. #117 also contains this issue.

[2016-04-05 23:01] akaplo commented on #116
Closed because this has been proven false, at least on the first load of the map (however, see #124).

[2016-04-05 23:01] #116 closed, assigned to bgregg

[2016-04-06 15:24] akaplo opened #125 "Change HTML to Anything Else"
Because tags, good god.

[2016-04-06 15:33] akaplo commented on #82
Closed **at least partially** by #117.

[2016-04-06 16:06] akaplo opened #126 "Stops and Routes Lists Don't Redraw"
When downloading the list of stops and routes in the `StopController` and `RouteController`, respectively, the DOM doesn't redraw itself to show the list once it has been downloaded.  It's supposed to.

Clicking any button or link on the page or otherwise manipulating the DOM in any way (once the list has in fact been downloaded) will cause an immediate redraw, which will reveal the list.  This is

[2016-04-06 16:28] #119 closed, assigned to akaplo

[2016-04-06 16:29] bgregg opened #128 "Loaders more consistent"
We should create loaders for every page where things are downloaded (maps, route/stop pages, etc). Right now there are some but its inconsistent.

[2016-04-06 18:31] akaplo opened #129 "New Routes Page Breaks Route Map"
Don't know why. Viewing a route's page maps it on that page, but when "map this route" is clicked, a map never comes up on the new page.

Honestly, the map view on the route page seemed squished anyway.  Maybe it should just be undone for now.

[2016-04-06 18:33] #129 closed, assigned to nobody

[2016-04-06 18:33] akaplo commented on #126
Closed via #127.

[2016-04-06 18:33] #126 closed, assigned to nobody

[2016-04-06 18:34] akaplo commented on #82
Reopened because of #129 and #130.

[2016-04-06 23:50] akaplo opened #131 "Text Wrapping on Plan Trips"
The steps on Plan Trip don't have text wrapping and they go off the edge on small screens (namely my GS5).

[2016-04-06 23:51] akaplo opened #132 "Ion Date Picker Goes Out Of View"
On Plan Trips, when picking a time to depart while on a small screen, the keyboard pops up **over** the field you're typing into.  I'm not sure if this _can_ be fixed, but it should be looked into.

[2016-04-06 23:55] akaplo opened #133 "Deleting Data in Storage Settings"
On Android devices (at least my GS5), when trying to use the StorageSettings page to delete saved favorites/lists/etc, none of the ionicPopups ever pop up, and thus the data never can be deleted.

I'm interested in hearing if @bgregg has this issue on his GS5, if @dfaulken has this on his One, and if @petermarathas has this on his 5S.  In my testing, it worked no-problem in the iOS emulator.

[2016-04-07 01:13] sherson opened #134 "Route Map zooms too far if no buses"
When loading the map for a route with no buses currently running, it zooms too far into the user's location.

When loading the map for a route with buses, it works fine (loads the kml/buses, and then zooms/pans to also show the user's location).

[2016-04-07 18:02] nmonti commented on #120
Since most of these are factories, should it be renamed (for example) `data-factory.js`?

[2016-04-07 18:45] akaplo commented on #120
I would say yes.

[2016-04-07 18:47] nmonti commented on #120
Should I change them within the branch I made?

[2016-04-07 18:47] akaplo commented on #120
Sure!  I just saw your PR; looks good!  I'll take a closer look after class.

[2016-04-07 18:51] nmonti commented on #120
Don't be looking at work in class, dammit! :p

[2016-04-07 20:22] petermarathas commented on #133
<a href="https://github.com/umts/pvta-multiplatform/blob/master/www/js/app.js#L116">The controller for storage settings</a> is incorrect, because I missed a word when trying to fix the merge conflict :expressionless:

[2016-04-07 20:28] petermarathas commented on #133
Fixed now

[2016-04-07 20:28] petermarathas commented on #133
Unless it still isn't working on your phone, pull from master and try it again.

[2016-04-07 20:47] nmonti commented on #125
This might be easier to integrate: https://github.com/pugjs/pug. It also looks like HAML.

I could be wrong, but from what I've seen, HAML belongs to Rails folk, Jade/pug belong to full stack JS folk.

[2016-04-07 21:26] petermarathas commented on #132
On iOS, the screen slides up with the keyboard, so this isn't an issue. For Android, I found <a href="http://ionicframework.com/docs/api/page/keyboard/#android-notes">this</a> which says to add <code><activity android:windowSoftInputMode="adjustResize"></code> to the activity tag in your AndroidManifest.xml file. I'm having trouble emulating Android on my computer, so I can't test it myself.

[2016-04-07 21:31] akaplo commented on #133
It's fixed! It was an issue in my iOS emulator as well (I just discovered this) it works fine now.

Thanks!

[2016-04-07 21:31] #133 closed, assigned to nobody

[2016-04-07 21:33] akaplo commented on #132
I'll look into that. Thanks!

[2016-04-07 21:34] akaplo commented on #125
You're right!  I've updated the title accordingly.  Pug looks like it could be just what we're looking for.

[2016-04-07 23:22] akaplo opened #136 "Move To Controller-As Syntax"
In beginning to prepare for (what I believe is) the inevitable eventual migration to Angular/Ionic 2, I've sought out some of the tenets of the new framework that can be supported now/soon and will facilitate easier code migration later.  This issue covers one such tenet.

`ControllerAs` is an Angular 1 feature where, instead of binding data to `$scope`, we directly instantiate the controller and

[2016-04-08 13:21] akaplo opened #137 "Move Controllers and Templates Into New Directories"
In the vein of #136, another tenet of Angular 2 is the idea of `Pages` instead of `Controllers` and `Templates` that are thought of separately (it will still basically have these, but slightly more abstracted).

The migration will be easier if we reorganize our controllers and views into folders by the specific page they pertain to as opposed to a giant directory of controllers and another giant d

[2016-04-08 13:49] akaplo opened #138 "Simplify Search With Segments"
I've thought (well...found and stolen) a way that we can simplify Search while also removing the Routes and Stops pages.

This is mostly taken from iOS design principles (while it generally looks different on Android, the idea is the same.  For ionic 1, we have to use [this repo](https://github.com/tinga-dev/ti-ionic-segmented-control), but ionic 2 has baked in support that optimizes for platform(

[2016-04-08 15:38] akaplo commented on #32
Closed via #110.

[2016-04-08 15:38] #32 closed, assigned to petermarathas

[2016-04-08 16:04] akaplo commented on #50
So there still isn't a good answer to the "does the api do this for already" question.  I'm going to look into that.

## I'll also tack onto this issue by adding the following addition to its scope:

Add to **My Buses** logic to only display alerts that pertain to favorited routes.

[2016-04-08 17:44] #112 closed, assigned to nobody

[2016-04-08 17:45] petermarathas commented on #112
Closed because we don't want this anymore :smile:

[2016-04-08 19:03] akaplo opened #141 "Awkward Hamburger Menu On Desktop Browsers"
The sidemenu snaps open and stays there when the app is run on desktop browsers.

The hamburger icon still stays on the page but is rendered nonfunctional. 🍔

Changing or removing about this may cause less confusion for desktop users.  Suggested by @werebus

[2016-04-08 19:46] #50 closed, assigned to akaplo

[2016-04-08 22:49] #137 closed, assigned to akaplo

[2016-04-09 16:54] bgregg opened #143 "OneBusAway"
Something we learned that may end up negating alot of the work we've done over the last few months. There is an app called OneBusAway that essentially does what our app does, and it also can allow us to convert our Avail data to GTFS data. Definitely something to look into.

[2016-04-09 17:04] sherson commented on #143
https://github.com/OneBusAway
http://onebusaway.org/

[2016-04-10 20:00] akaplo opened #144 "LatLong Service Removal?"
@bgregg and I have discussed this slightly, and it seems like it can be removed.  Its use is to pass  locations between controllers so that they can be rendered on a map, but since maps are almost entirely using `$stateParams` now, we should be okay so kill it.

[2016-04-12 14:49] bgregg opened #145 "Better Windows"
The Google info windows are ugly. We implemented them for Beta 3, but I would like to find some alternative (that is not info-bubble because it is riddled with bugs)

[2016-04-12 14:59] sherson opened #146 "Route map sometimes loads without KML or is blank altogether"
Sometimes the route map is blank, or the map, buses, and location are plotted without the KML.

Clearing my cache didn't do anything. Seems to be happening only on my computer, but in multiple browsers: Chrome and Safari (as well as Chrome incognito):

<img width="1353" alt="safari map no kml" src="https://cloud.githubusercontent.com/assets/409008/14464363/867c3930-009c-11e6-8f6a-6ed5d3e32217.png"

[2016-04-12 20:08] akaplo commented on #146
Is it just sometimes?  What steps cause it? I'm trying it and can't reproduce it

[2016-04-12 21:09] sherson commented on #146
It has been happening for me since last night. It's mostly consistent... Once in a while, when I load a route that I haven't loaded before, the KML appears. Then I reload that page, and it breaks (either doesn't load the map at all or loads everything but the KML).

But usually when I load a route that (I think) I haven't loaded before, it doesn't work. Since last night, it hasn't displayed the KM

[2016-04-13 15:27] sherson commented on #146
Due to #124

[2016-04-13 15:27] #146 closed, assigned to nobody

[2016-04-13 16:04] #120 closed, assigned to nmonti

[2016-04-15 01:11] akaplo opened #147 "Disclaimers"
I think it might be a good idea to add a few disclaimers to the app now that real people that we've never met before might be using it.

I can think of two important ones; does anyone have any to add?
1. Beta disclaimer - "this app is in beta"
2. Realtime disclaimer - something along the lines of "The realtime data provided is courtesy of Availtec's radio systems. The PVTA cannot assure that the d

[2016-04-15 14:31] sherson opened #148 "Map bus icons"
Would be good if the map bus icons look like buses, are the color of the route, and have indicators showing direction.

[2016-04-15 15:03] bgregg commented on #147
Also putting feedback on the home page. Working on this now.

[2016-04-15 15:07] werebus commented on #147
I don't know if we should throw Avail quite so far under the bus (as it were).  Something a little more general about real-time estimates being a an _estimate_ and not always available should be fine.

@sherson, thoughts?

[2016-04-15 15:17] werebus commented on #148
Cursory Google search:

http://map-icons.com/

They extend `google.maps.Marker` to allow SVG icons (which are style-able) so color is easy.  Direction's a bit harder, but SVGs can be composed of multiple paths, so if the indicators were available as paths elsewhere in the page you might be able to [`<use>`](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/use) them in a composite-icon-type

[2016-04-15 15:30] sherson commented on #148
Looks good:

<img width="219" alt="bus-station.svg" src="https://cloud.githubusercontent.com/assets/409008/14566369/511c370a-02fd-11e6-9563-f53963f4537b.png">

[2016-04-15 16:01] werebus commented on #148
Also, you can apparently use SVG paths as the "Symbol" on a map icon using the native Google API: https://developers.google.com/maps/documentation/javascript/markers#symbols Although documentation is sparse.

[2016-04-15 16:37] bgregg opened #150 "Privacy Policy"
SInce we are using Google Analytics we need to have a privacy policy in order to tell people that we are collecting data about their usage of the app.

[2016-04-15 18:10] bgregg commented on #147
See #149

[2016-04-15 18:36] bgregg opened #151 "Assume that alerts with no route refers to every route"
^that

[2016-04-15 18:41] sherson commented on #147
Yep, my inclination is to be less specific. Perhaps something to the effect of?:

[2016-04-15 19:24] sherson commented on #43
Reopening because during today's demo with PVTA, the case was made for searching by stop ID.

This didn't specifically come up during the demo, but if I search for a stop number, I get results for all stops that contain that number.

[2016-04-15 20:11] sherson opened #153 "Make Stop ID more prominent"
We should make stop IDs more prominent (since some names in portions of PVTA's service area are generic, and IDs are being printed on stop signs).

[2016-04-15 20:18] sherson commented on #101
PVTA is looking into the best way to implement Spanish support in an "official" PVTA app.

PVTA thinks the approaches we're considering are probably fine, but they want to double-check that this is not considered a "vital" document (the example they cited was that Google Translate doesn't meet [Title 6](https://www.justice.gov/crt/title-vi-civil-rights-act-1964-42-usc-2000d-et-seq) requirements).

[2016-04-15 21:54] akaplo commented on #111
Meeting occurred on Friday, 4/15/16 at 3:00pm.

Reception from PVTA was positive but shocked when they realized that we had a decently-polished product to show off; it seemed as though something far more barebones was expected.

Making this the official PVTA app sounds it like will be an uphill battle.

Issues have been opened as a result of their feedback.  Closed.

[2016-04-15 21:54] #111 closed, assigned to nobody

[2016-04-17 00:23] bgregg opened #155 "Vehicle Page Needs a Makeover"
Especially now that we can see that people ARE in fact using it

[2016-04-18 14:59] akaplo commented on #39
@bgregg since you're assigned to like 9 issues, I'm gonna start on this one; just let me know that you haven't already.

[2016-04-18 15:05] akaplo opened #156 "Remove API Keys From Source Code"
Half-mentioned by @werebus in a comment on #152.  The version currently on master does (but should not) have the key for the Maps Javascript API in index.html.  That can be easily removed, but my question pertains more to the version on gh-pages.

Since the version there is exactly what's being seen when someone navigates to a page, don't we have to keep it in the source code (even if just for tha

[2016-04-18 20:37] bgregg commented on #39
I have not, just assigned you. If you need assistance let me know, maps is kinda my thing

[2016-04-19 15:52] akaplo commented on #39
@werebus has some thoughts on this actually

[2016-04-19 16:11] #151 closed, assigned to nobody

[2016-04-19 16:23] werebus commented on #39
Right, I was having some trouble putting my finger on what he use case was.  That is, how does this feature help me catch a bus?  The only thing I could think of is that it's for the person who thanks they know better that the departure estimates how much time it takes for a bus to get places.

There is the idle curiosity factor: "Look at all those buses! Isn't that cool?" :bus: :bus: :train:

In

[2016-04-21 16:49] #144 closed, assigned to bgregg

[2016-04-21 16:53] #131 closed, assigned to akaplo

[2016-04-22 01:59] akaplo opened #161 "Change Settings to use the Cordova Preferences Plugin"
The [Cordova Preferences Plugin](https://github.com/apla/me.apla.cordova.app-preferences) that I just discovered seems to be a better idea for saving user settings.

It does some cool things on top of what we already have, and for giving the app a more native feel, I'd be interested in looking more into it.

[2016-04-22 05:19] akaplo commented on #39
Interested to hear @petermarathas's thoughts.

[2016-04-22 05:20] akaplo commented on #150
@bgregg did this already happen?  I recall @werebus saying he looked distantly at a draft you presented to him and the conversation hasn't continued since then.

[2016-04-22 14:46] bgregg commented on #150
@werebus had asked for some time to look at, and I havent heard from him since. I will check in with him today.

[2016-04-22 19:14] #1 closed, assigned to akaplo

[2016-04-28 16:15] akaplo opened #164 "Tests For MyBusesController"
We need to build out our testing coverage.  The scope of this issue is unit tests for the functions defined within My Buses.

[2016-04-28 16:17] akaplo opened #165 "Tests for Routes and Stops"
We need to build out our testing coverage.  The scope of this issue is unit tests for the functions defined within Routes and Stops (this page currently doesn't exist on master, but there's no point in testing Search, Stops, and Routes because they won't exist for very long).

[2016-04-28 16:17] akaplo opened #166 "Tests For Plan Trip"
We need to build out our testing coverage.  The scope of this issue is unit tests for the functions defined within Plan Trip.

[2016-04-28 16:18] akaplo opened #167 "Tests For Settings Controller"
We need to build out our testing coverage.  The scope of this issue is unit tests for the functions defined within Settings.  This issue does **not** include tests for About or Storage Settings.

[2016-04-28 16:18] akaplo opened #168 "Tests for Route"
We need to build out our testing coverage.  The scope of this issue is unit tests for the functions defined within the Route controller.

[2016-04-28 16:18] akaplo opened #169 "Tests for Stop"
We need to build out our testing coverage.  The scope of this issue is unit tests for the functions defined within the Stop controller.

[2016-04-28 16:18] akaplo opened #170 "Tests for About"
We need to build out our testing coverage.  The scope of this issue is unit tests for the functions defined within the About controller.

[2016-04-28 16:18] akaplo opened #171 "Tests for Storage Settings"
We need to build out our testing coverage.  The scope of this issue is unit tests for the functions defined within the StorageSettings controller.

[2016-04-28 16:20] akaplo opened #172 "Tests for DataFactories"
We need to build out our testing coverage.  The scope of this issue is unit tests for the functions defined in the DataFactories page (basically all of the Avail factories that just return `$resource`).

[2016-04-28 16:20] akaplo opened #173 "Tests for FavoriteRoutes"
We need to build out our testing coverage.  The scope of this issue is unit tests for the functions defined within the FavoriteRoutes factory.

[2016-04-28 16:20] akaplo opened #174 "Tests For FavoriteStops"
We need to build out our testing coverage.  The scope of this issue is unit tests for the functions defined within the FavoriteStops factory.

[2016-04-28 16:21] akaplo opened #175 "Tests For Info Factory"
We need to build out our testing coverage.  The scope of this issue is unit tests for the functions defined within the Info factory.

[2016-04-28 16:21] akaplo opened #176 "Tests For KML Factory"
We need to build out our testing coverage.  The scope of this issue is unit tests for the functions defined within the KML factory.

[2016-04-28 16:21] akaplo opened #177 "Tests for Map factory"
We need to build out our testing coverage.  The scope of this issue is unit tests for the functions defined within the Map factory.

[2016-04-28 16:21] akaplo opened #178 "Tests for Recent factory"
We need to build out our testing coverage.  The scope of this issue is unit tests for the functions defined within the Recent factory.

[2016-04-28 16:21] akaplo opened #179 "Tests for RouteForage factory"
We need to build out our testing coverage.  The scope of this issue is unit tests for the functions defined within the RouteForage factory.

[2016-04-28 16:22] akaplo opened #180 "Tests for RouteList factory"
We need to build out our testing coverage.  The scope of this issue is unit tests for the functions defined within the RouteList factory.

[2016-04-28 16:22] akaplo opened #181 "Tests for StopList factory"
We need to build out our testing coverage.  The scope of this issue is unit tests for the functions defined within the StopList factory.

[2016-04-28 16:22] akaplo opened #182 "Tests for StopsForage factory"
We need to build out our testing coverage.  The scope of this issue is unit tests for the functions defined within the StopsForage factory.

[2016-04-28 16:22] akaplo opened #183 "Tests for Trips factory"
We need to build out our testing coverage.  The scope of this issue is unit tests for the functions defined within the Trips factory.

[2016-04-28 21:52] #138 closed, assigned to akaplo

[2016-04-29 02:54] akaplo opened #185 "Bad Stop Redirect"
The `Routes and Stops` page doesn't properly redirect when a stop is clicked on.

[2016-04-29 03:05] #185 closed, assigned to akaplo

[2016-04-29 16:15] akaplo commented on #39
Should I close this? @bgregg @werebus

[2016-04-29 16:19] akaplo commented on #43
So I'm not sure if there's a way to do exactly what we want.

For example, if I search for stop `80`, it's also going to display stop `800`, since `80` is of course contained within `800`.  I don't think that the library we use has a way to check whether it's exactly 80 or not.  Whatever we do would be applied to entire objects, thus, if we only returned stops with IDs that match exactly what we'r

[2016-04-29 18:23] werebus commented on #43
How much of a terrible hack is it to change the begins-with/partial-match behaviour depending on whether the user started with a digit? Of course that makes these stops a little harder to find:
- 3300 Main Street (1007)
- 1 Stop Plaza (1546)
- 2133 or 2110 Boston Rd (Flag stop - signal driver)
- 2443 or 2440 Boston Rd (Flag stop - signal driver)
- 806 Stoney Hill (Flag stop - signal driver) (5031)

[2016-04-29 18:25] werebus commented on #39
I vote:  "yes, close it".

[2016-04-29 20:01] #39 closed, assigned to nobody

[2016-04-29 21:27] akaplo commented on #43
So, after looking further into our code and [our searching library's docs](https://github.com/djett41/ionic-filter-bar), I have come up with a few compromises, and I'm interested to hear what you all think (@sherson this is for you too).

For searching routes, I've narrowed it down so that it returns a route **only** if the `ShortName` or `LongName` include the text we're searching for.

For searc

[2016-04-29 21:34] akaplo commented on #43
For @werebus's examples above, this method works with 1 caveat (which I'll show by example below):

If you type in the stop name exactly (aka "54 Industrial Drive"), you won't see results for the correct stop until you've started entering characters.  "54" will return "Village Park (N)", because that's the stop with an ID of 54.  However, once you begin adding characters ("54 I"), you'll get a sin

[2016-05-05 18:59] akaplo opened #189 "Stops List Doesn't Display"
If you click on the "add a stop" button on My Buses, it redirects you to `Routes and Stops` with the proper URL params to display the stops list, but it never actually does until you hit "Stops."  It does work, however, when you click "add a route," so it must be related to displaying the proper list.

[2016-05-05 19:00] akaplo opened #190 "Lists Aren't Scrollable at First"
When navigating to `Routes and Stops`, the lists are drawn and appear to be good to go, but they aren't scrollable until you've clicked on something else on the page.

[2016-09-08 17:40] akaplo opened #191 "Switch StopDepartures to SignageStopDepartures"
They're much simpler in terms of how data is organized, and will save us a lot of confusing code, especially when it comes to differentiating trips (i.e. Mullins Center via OHill)

[2016-09-08 18:01] #164 closed, assigned to nobody

[2016-09-08 18:01] #165 closed, assigned to nobody

[2016-09-08 18:01] #166 closed, assigned to nobody

[2016-09-08 18:01] #167 closed, assigned to nobody

[2016-09-08 18:01] #168 closed, assigned to nobody

[2016-09-08 18:01] #169 closed, assigned to nobody

[2016-09-08 18:01] #170 closed, assigned to nobody

[2016-09-08 18:01] #171 closed, assigned to nobody

[2016-09-08 18:01] #172 closed, assigned to nobody

[2016-09-08 18:01] #173 closed, assigned to nobody

[2016-09-08 18:01] #174 closed, assigned to nobody

[2016-09-08 18:01] #175 closed, assigned to nobody

[2016-09-08 18:01] #176 closed, assigned to nobody

[2016-09-08 18:01] #177 closed, assigned to nobody

[2016-09-08 18:01] #178 closed, assigned to nobody

[2016-09-08 18:01] #179 closed, assigned to nobody

[2016-09-08 18:01] #180 closed, assigned to nobody

[2016-09-08 18:01] #181 closed, assigned to nobody

[2016-09-08 18:01] #182 closed, assigned to nobody

[2016-09-08 18:01] #183 closed, assigned to nobody

[2016-09-08 19:43] #143 closed, assigned to nobody

[2016-09-08 19:43] akaplo commented on #141
Is this possible in Ionic 1?

[2016-09-08 19:45] akaplo commented on #101
Lack of being a PVTA-backed app essentially voids this issue, as analytics show no language requests other than English.  Should this change, this issue can be reopened.

(Ionic/Angular 2.0 will make translations much easier... another reason to wait/forget about it).

[2016-09-08 19:45] #101 closed, assigned to nobody

[2016-09-08 19:47] akaplo commented on #9
Welp.

[2016-09-08 19:47] #9 closed, assigned to nobody

[2016-09-08 19:47] akaplo commented on #43
Ionic 2 will make this stupidly easy.

[2016-09-08 19:48] akaplo commented on #118
@bgregg should I close this?

[2016-09-08 19:49] akaplo commented on #114
@bgregg I can take this if you don't want to work on it.

[2016-09-08 19:50] akaplo commented on #136
Closed, because porting will be much more involved than this.

[2016-09-08 19:50] #136 closed, assigned to nobody

[2016-09-08 19:56] akaplo commented on #150
Time to just throw something up there.

[2016-09-08 20:09] akaplo commented on #191
Upon closer inspection of the objects described by the JSON returned by SignageStopDepartures, it, in fact, does _not_ simplify any code.

[2016-09-08 20:09] #191 closed, assigned to nobody

[2016-09-09 17:11] akaplo commented on #156
Cannot obscure API keys in an entirely frontend app, especially when it's being hosted on gh-pages.

[2016-09-09 17:11] #156 closed, assigned to nobody

[2016-09-09 18:00] werebus commented on #156
@akaplo and I were looking at this just now.  In the Google API console, we _can_ put restrictions on what clients can use a key:
-  For web sites, you can require a particular `HTTP_REFERER`,
-  For android apps, you can require the app be signed with a particular key
-  For iOS apps, you can require a particular app identifier.

That said, putting these restrictions in place will likely interfer

[2016-09-09 18:05] akaplo opened #193 "Time Picker Should Untoggle ASAP When Clicked"
On Plan Trip, if ASAP is toggled on when the date/time picker is clicked, it won't let you pick a time.  Attempting to type in a time or select a date will immediately fail, as the system will clear out your entry and set it to Date.now().

We should turn off ASAP when we sense that the user is attempting to select a date/time.

[2016-09-09 18:08] akaplo opened #194 "Plan Trip Steps Don't Redirect Properly"
When a trip step in Plan Trip is clicked, it used to take the user to an appropriate page (i.e. if the step had something about Rt 30, it would go to the 30's page).
Now, it only directs to `app/[routes or stops]/al`.  (what the 🎉  is `al`..?)

[2016-09-13 01:41] #153 closed, assigned to akaplo

[2016-09-13 01:41] akaplo commented on #124
Still having trouble figuring this out.  I don't understand what Ionic/Angular/Google are doing when the back button is pressed that they aren't doing when we select a different option in the navigation menu.

[2016-09-13 02:55] akaplo commented on #80
Turns out this is a gross problem, but it has been solved.  There's a [cordova plugin](https://github.com/apache/cordova-plugin-inappbrowser) that mostly takes care of it.

[2016-09-13 03:46] akaplo opened #196 "Implement Content Security Policy"

[2016-09-13 15:31] #80 closed, assigned to akaplo

[2016-09-13 15:33] akaplo opened #198 "Add Favorite Status in Route/Stop List"
While scrolling through the list of routes and stops, it might be nice to have a heart icon inline with the name that indicates whether an entry has been favorited.

[2016-09-13 17:22] #147 closed, assigned to akaplo

[2016-09-13 22:30] #114 closed, assigned to akaplo

[2016-09-13 23:08] #124 closed, assigned to akaplo

[2016-09-14 19:57] bgregg commented on #123
Closed #123.

[2016-09-14 19:57] #123 closed, assigned to bgregg

[2016-09-14 19:58] bgregg commented on #125
Closed #125.

[2016-09-14 19:58] #125 closed, assigned to nobody

[2016-09-14 22:02] petermarathas commented on #193
Clicking the datepicker should toggle ASAP off, but if it's not working on your machine then something is wrong 😨

[2016-09-15 03:13] #189 closed, assigned to nobody

[2016-09-15 03:22] akaplo commented on #193
This is actually my bad.  I was using the version that was deployed to gh-pages when I opened this issue, not the version on master. It works fine.  Oopsie!

[2016-09-15 03:22] #193 closed, assigned to nobody

[2016-09-15 03:23] akaplo commented on #190
Closed by #202.

[2016-09-15 03:23] #190 closed, assigned to nobody

[2016-09-15 03:24] #141 closed, assigned to nobody

[2016-09-15 03:31] akaplo commented on #128
This kind of fixed itself, in my opinion.  @bgregg any examples where we could still use a loader where there isn't one?

[2016-09-15 03:32] #118 closed, assigned to nobody

[2016-09-15 03:32] akaplo commented on #118
It has specialized logic, so it's not "obsolete."

[2016-09-15 03:35] akaplo opened #203 "Alerts on My Buses Are Completely Random"
The header says "Alerts For Your Routes," but if I have no routes, I still see alerts.  Not all alerts, mind you, but seemingly random ones.

If I have favorite routes, I still don't necessarily get the alerts for them.

[2016-09-15 16:04] #198 closed, assigned to akaplo

[2016-09-15 17:17] akaplo commented on #203
Upon closer inspection, this is mostly not our fault.  Our app will display all alerts that, according to Avail, pertain to a user's favorite routes, as well as all alerts that don't specify what routes they pertain to.

Current example is the `Due to construction, Smith-bound Route 39 buses are bypassing the Middle St stop (use the West St stop). Hampshire College-bound buses are servicing Middle

[2016-09-15 17:17] akaplo commented on #203
We display this because its metadata doesn't tell us what route it applies to (empty `Routes` array), and thus seems like a random addition. @sherson or @werebus could this be a [transit-it](https://github.com/umts/transit-it/issues) issue ("Always specify routes for active alerts")?

Also, neither of the other garages post their alerts to Avail.  Seems like a stupid oversight, especially cause th

[2016-09-15 18:58] sherson commented on #203
It's worth noting that there were a couple alerts specific to routes in the real world, but entered as a `General Message` in MyAvail (not route-specific).

This was due to a problem with the Avail publish last week that prevented us from selecting routes in the `Web and Sign Messages` MyAvail screen.

I've since selected the routes for those alerts.

Everything looks OK now, as far as I can tell.

[2016-09-15 19:00] bgregg commented on #203
I just did a few quick bug checks, and the alerts are all working as I would expect them to.

[2016-09-15 19:28] sherson commented on #203
OK I'm going to close this (please reopen if you notice any issues).

[2016-09-15 19:28] #203 closed, assigned to nobody

[2016-09-16 16:37] akaplo commented on #128
Route page is an example.

[2016-09-16 16:58] #150 closed, assigned to bgregg

[2016-09-17 17:27] akaplo opened #207 "KML Factory is Not Needed"
When we map a route, the process is as follows:
- RouteController
  - Get `RouteTraceFilename` from downloaded route object
  - Use the `KML` factory to hold a reference to the name via its `push()` method
  - Redirect to `RouteMapController`
- RouteMapController
  - Draw initial map, center it on UMass
  - Get the `RouteTraceFilename` via the `KML` factory's `pop()` method
  - Use the map factory

[2016-09-17 18:26] akaplo opened #209 "Add easier way for adding things to favorites"
On My Buses, when you click the big ➕ to add a route or stop to favorites, it just redirects to Routes and Stops and then you have to click on one, be taken to its page, and then add it to favorites. This should be easier.

[2016-09-17 18:29] akaplo opened #210 "Add a way to reorder stop and route lists"
In Routes and Stops, we should add a way to reorder the lists if the user so wishes.  Now that we display when an entry is a favorite, it might be nice to have all the favorites appear at the stop, but this isn't necessarily the way it should always be, so giving that option would be nice.

Options I can think of to put in the "order by" include:
1. Favorited?
2. Alphabetical
3. By Location (for s

[2016-09-17 18:31] akaplo opened #211 "Add a Contact Us Page/Section"
What if a passenger loses something or needs help with a schedule?  We should add a page for this, which lists the numbers for lost and found and the non-employee phone numbers for each garage, as well as the PVTA's main line.

I could see it going as its own page in Settings, or as a subsection in About.

[2016-09-19 17:29] akaplo opened #212 "Plan Trip Loader Never Hides When It Can't Find Location"
When location immediately fails, something weird happens and the loader never goes away, rendering plan trip unusable unless the app has your location, which shouldn't be necessary.

We should probably change the checkbox for "use location" to unchecked when this occurs and add an alert bar to the stop of the page stating we can't get your location like we do for Stop Maps now.

[2016-09-19 18:25] akaplo opened #213 "Remove Cordova Plugins From Source Control"

[2016-09-19 19:25] #213 closed, assigned to akaplo

[2016-09-19 19:38] #134 closed, assigned to akaplo

[2016-09-19 19:53] akaplo opened #215 "Add More Specific Edt/Sdt Times in Stop"
Perhaps clicking a stop departure could expand it and provide info that's more specific than "in an hour."  Requested by @dfaulken.

The expand-ey feature (like how clicking on a route expands into a list of departures) is not an integral part of this issue; figuring out a good way to give more specific times is the goal.  If we decide this means removing the "in an hour" and replacing it with "in

[2016-09-19 20:40] akaplo opened #216 "Unable to Redirect to Route Map"
But, going to it by its actual URL works fine.  This is a new bug on master, and I think it's an easy fix, so I didn't roll back my PR.

**DO NOT DEPLOY UNTIL RESOLVED**

[2016-09-19 22:47] #216 closed, assigned to nobody

[2016-09-19 22:56] akaplo commented on #207
Closed by #208

[2016-09-19 22:56] #207 closed, assigned to akaplo

[2016-09-19 23:27] #128 closed, assigned to nobody

[2016-09-19 23:27] akaplo commented on #212
Closed by #206.

[2016-09-19 23:27] #212 closed, assigned to akaplo

[2016-09-19 23:28] akaplo commented on #194
Closed by #205.

[2016-09-19 23:28] #194 closed, assigned to nobody

[2016-09-20 17:39] akaplo opened #219 "Roll Vehicle Page Into Route Page"
Eliminate the Vehicle page.

I was starting to redo it (see below for a work-in-progress screenshot), but maybe we can just put the extra details into the Vehicle portion of the Route page (perhaps making it expandable, like how each route expands into departure details in Stop).

Each entry for a vehicle would include a button to map it and its details, of which there aren't really enough to dedi

[2016-09-20 18:53] werebus commented on #219
Yeah, I  don't think per-vehicle pages are of very much use or interest to anyone but Transit employees.

[2016-09-20 19:30] petermarathas commented on #219
I agree. Also, knowing how many people are on a bus is awesome.

[2016-09-20 19:44] sherson commented on #219
I also agree.

However, currently when a user taps on a departure on a [Route page](https://umts.github.io/pvta-multiplatform/#/app/routes/20030), they see [vehicle details](https://umts.github.io/pvta-multiplatform/#/app/vehicles/89/20030).

While the new screenshot shows a different title, formatting, and additional fields (`Currently on the [route]` and `[x] passengers are riding this bus`), it

[2016-09-20 19:48] werebus commented on #219
@akaplo said above, "I was starting to redo it ... but maybe we can just put the extra details into the Vehicle portion of the Route page"

The screenshots are of the "redo(ing) it".

[2016-09-20 20:27] sherson commented on #219
Ah yes.

OK, if we eliminate unit, the route page would have the 3 current fields (status, headed toward, last stop) plus `[x] passengers are riding this bus` and `bus [number]`. That might look good.

[2016-09-20 21:01] werebus commented on #219
:+1: "Unit" is especially lose-able. I'm on the fence on bus number. It's slightly useful in that it's printed a few extra places on the bus you might be looking for (where you might not be able to see one of the destination signs), but it can also change without notice (bus swaps).

[2016-09-20 21:47] akaplo commented on #219
All good points, and agreed.  I'll get started on this soon.

[2016-09-20 21:49] akaplo commented on #219
Closed #155, as this is overtaking it.

[2016-09-20 21:49] akaplo commented on #155
Closed because of #219.

[2016-09-20 21:49] #155 closed, assigned to nobody

[2016-09-21 17:18] akaplo commented on #219
<img width="502" alt="screen shot 2016-09-21 at 1 16 59 pm" src="https://cloud.githubusercontent.com/assets/7144148/18721308/d7d1a58c-7ffd-11e6-8d34-7b7a8aee3bb6.png">
How's this looking?  It's a work in progress, but I think it's close.

[2016-09-21 17:21] werebus commented on #219
Two thoughts
1.  The "30" seems a little redundant on each card.
2.  Is a red clock late or early?

[2016-09-21 18:36] akaplo commented on #219
1. I suppose you're right.  I'll move it above and repost.
2. Red clock is late...I had the word "late" but I decided it was self-explanatory.  You disagree?

[2016-09-21 18:52] werebus commented on #219
The route number is already two other places above the list, right?

So, what does an early bus look like?

[2016-09-21 18:53] akaplo commented on #219
Does Avail have a DisplayStatus for early?  I've never seen one.

[2016-09-21 20:07] akaplo commented on #209
We already show when a route/stop is favorited in its list entry.

Maybe, for each entry, we expand this to work the same way that the heart does in the Route/Stop pages themselves (an outlined heart vs filled in heart; clicking triggers function that toggles favorite).

Perhaps a slide-over feature (to reveal the "favorite this thing" functionality) is a better idea.

Perhaps we do a popup menu w

[2016-09-21 20:07] akaplo commented on #209
@bgregg I think this could be a fun issue for you.

[2016-09-21 22:31] akaplo commented on #219
Here's an update with @sherson's input.

<img width="503" alt="screen shot 2016-09-21 at 6 37 55 pm" src="https://cloud.githubusercontent.com/assets/7144148/18731561/9e125fee-802a-11e6-8163-31a9e760f73a.png">

[2016-09-21 22:37] bgregg commented on #209
I like the first thing you said. An outlined heart vs a filled in heart and if you click it it toggles that feature, click anywhere else in the row and it redirects you to that route/stop

[2016-09-22 02:52] dfaulken commented on #215
Sure, I would also include the actual time - say `3:12 pm (in 32 minutes)`.

[2016-09-22 15:44] petermarathas commented on #219
I think an icon that shows up when the bus is bendy would be helpful.

[2016-09-22 15:53] akaplo commented on #209
Sounds good.  Perhaps you could make directives (like I'm currently doing on the `vehicle-ui` branch) for `routes` and `stops` so that you can reuse this on `Routes and Stops` **and** `My Buses`.

[2016-09-22 15:57] petermarathas opened #220 "Future Stop Departures"
Users should be able to see departures for a certain stop farther in the future - not just the next three hours. We can try using GTFS data to display these times ourselves or simply link users to the route schedule PDF/Plan Trip page.

[2016-09-22 17:07] werebus opened #221 "Deep-linking"
Thought it would be good if one could link into the app if they had the stop-id.  Why?  Well, if someone were going to put a customized laminated piece of paper at each stop telling them how to use some bus-tracker, one could also just provide a short-url (or <small>shudder</small> a QR code) to the stop the person is standing at.

I found [this Cordova plugin](https://github.com/nordnet/cordova-u

[2016-09-22 18:10] sherson opened #222 "Possible future tweaks to Routes page (remove individual bus maps, re-format)"
Once we have directional bus icons (#148), we can simplify the route page further (#219) by removing the map(s) for the individual bus(es). Perhaps we could also remove the `Map This Route` footer, and instead have a `Map` button for the route in the header (next to the heart).

At that point, the routes list might look better as:

[code]

(since we can then allocate more of the width to the first

[2016-09-22 21:14] petermarathas commented on #215
I agree with Dave, here's how it would look

![screen shot 2016-09-22 at 5 06 51 pm](https://cloud.githubusercontent.com/assets/6088239/18766376/f67897bc-80e7-11e6-8775-1374fd28217c.png)

[2016-09-22 22:15] akaplo commented on #215
Definitely like that.

[2016-09-22 23:01] akaplo commented on #221
(I know Matt knows this, but) I'd like to note that we do already support deep-linking in the browser; this addition would be to support it in an installed app as well.

[2016-09-22 23:02] akaplo commented on #220
I'm thinking links for this.  GTFS is almost certainly a no-go.

[2016-09-22 23:04] akaplo commented on #210
(I have started work on this, but it's taken a back seat.  If anyone wishes to take it on, there's a branch.  Be my guest.)

[2016-09-22 23:07] akaplo commented on #82
Closed in favor of #222.

[2016-09-22 23:07] #82 closed, assigned to nobody

[2016-09-22 23:09] akaplo commented on #43
Enough.  Let's fix or close by RC-2.

[2016-09-22 23:12] akaplo commented on #213
Actually ended up re-adding them all because some/all of them are needed in order to host properly on gh-pages (like calling `$cordovaGeolocation.getLocation` would fail if we didn't include the `geolocation` plugin).

[2016-09-22 23:34] akaplo commented on #220
We also currently can't reliably redirect to PDF schedules either, because some routes use a different naming convention in their urls.

**VatCo and SatCo Routes**: pvta.com/schedules/**[shortname]**.pdf
**UMTS Routes**:  pvta.com/schedules/**Rt[shortname]**.pdf

@sherson or @werebus, can this be fixed?  Should be as simple as renaming our PDFs, as UMTS seems to be the odd-man-out here.

[2016-09-23 04:21] akaplo opened #224 "Add a welcome popup for first time visitors"
I think we should give a one-time popup to explain a little about the app - the what, why, and how should be enough to get new users off the ground.

I think this is pertinent especially now, since people going to m.pvta.com might be surprised at the lack of businfoboard...50% of our traffic today came from m.pvta.com.

@sherson @werebus thoughts?

[2016-09-23 09:25] sherson commented on #224
I think the app is pretty self-explanatory, and the UI is streamlined (there are only so many things to tap/click on). I don't see this as a big problem.

But there's no harm in adding a 'How to use this app' link to the current welcome message, and/or a one-time pop-up as you suggested.

[2016-09-23 10:09] sherson commented on #220
I could email the PVTA webmaster to see if they'd remove `Rt` from the UMTS names and commit to some consistency (to file names and [location](http://pvta.com/schedules/)).

However, I just noticed that there are some routes with different names in different places. Some examples:

| short name | PDF file | common name |
| --- | --- | --- |
| 914 | R14E | R14E |
| 920 | P20E | P20E |
| 921 | P21E

[2016-09-23 15:40] sherson opened #225 "Use RouteAbbreviation instead of ShortName?"
Perhaps we should switch to using `<RouteAbbreviation>` instead of `<ShortName>`? We're currently using names that the public might not be familiar with. For example:

| short name | common name |
| --- | --- |
| 914 | R14E |
| 920 | P20E |
| 921 | P21E |
| R52 | TT |

RouteAbbreviation is used at https://bustracker.pvta.com.

This came up while looking at #220.

[2016-09-23 16:43] akaplo opened #226 "I'm at a Stop, What Do I Do?"
Someone opens our app for the first time.  They're at a stop, and they just wanna get on the next bus.  What do they do?  Is going to `Routes and Stops` a self explanatory solution?

[2016-09-23 19:47] #145 closed, assigned to bgregg

[2016-09-23 19:48] bgregg commented on #145
Closed because of time constraints

[2016-09-23 19:51] sherson commented on #196
Decided not to do

[2016-09-23 19:51] #196 closed, assigned to nobody

[2016-09-23 19:52] sherson commented on #132
Can't reproduce

[2016-09-23 19:52] #132 closed, assigned to nobody

[2016-09-23 19:57] sherson commented on #43
This is mostly all set, but we should prioritize `RouteAbbreviation` over `LongName` over `RouteId`.

[2016-09-23 20:00] sherson commented on #226
My personal preferences as a passenger:

I'd appreciate a `Nearby` category that brought up to a map showing nearby stops and buses. If I tap on a stop, I see its departures (a simplified BusInfoBoard style list could work well here). If I tap on a bus, I see its details and route shape (or perhaps route shapes could be on the initial map)

It's noteworthy that not everyone thinks geographically i

[2016-09-23 20:06] sherson commented on #226
@akaplo and I just talked about this a little bit about this... he seemed to like the map ideas, and suggested having the bus info pop up on the map, and stop departure info in an expanding bottom panel (like trip planning).

[2016-09-23 20:10] #215 closed, assigned to petermarathas

[2016-09-23 20:27] akaplo opened #228 "Duplicate Alerts Cause Errors"
On My Buses, Angular throws a bunch of gross errors when you have two routes that both have the same active alert.  What's more, none of the duplicates show up.

This error isn't super noticeable to users, but it does manifest in the UI -  the red bar that says "Alerts for your routes" will display, but there won't be any alerts.  Under the hood, Angular is flipping out.

The issue is that `ngRepe

[2016-09-23 20:38] sherson opened #229 "Departures on stop page"
Would be nice if the next departure was listed in each line with the route numbers, and if subsequent departures appeared in a drop-down when the user tapped on a route (we talked about this last Spring, but never opened an issue for it).

[2016-09-24 22:16] #219 closed, assigned to akaplo

[2016-09-26 01:31] akaplo commented on #226
Without a doubt.  This will be implemented as a new page in the sidemenu, called `Nearby`!

[2016-09-26 01:33] akaplo commented on #210
I think @bgregg is rolling this into a combined PR with #209, am I correct?

[2016-09-26 01:41] akaplo opened #230 "App Store / Play Store Accounts"
I'm creating an issue for this so that we can track any steps being taken towards obtaining developer accounts on the [App Store (Apple Dev Program Enrollment Page)](https://developer.apple.com/programs/enroll/) ($99) and [Play Store (Google Developer Enrollment Page)](https://play.google.com/apps/publish/signup/) ($25).

The money could come from a few possible places
- PVTA
- University of Massa

[2016-09-26 01:43] akaplo opened #231 "Marketing Materials For UMTS Buses"
When we release, we should put flyers on our buses so that passengers can learn of the app.

If anyone is into designing these kinds of things, feel free to take it on.  If none of us can/want to, @sherson, is it reasonable to ask the UMTS marketing coordinator to help?

[2016-09-26 01:43] akaplo commented on #225
Should be a 60-second fix.

[2016-09-26 01:46] akaplo commented on #221
Dependent on #230.

[2016-09-26 02:03] #228 closed, assigned to akaplo

[2016-09-26 13:30] sherson commented on #231
Sure, I'll ask Glenn and Seritta about.

[2016-09-26 13:31] sherson commented on #230
Will remind PVTA about it.

[2016-09-26 13:39] sherson commented on #210
Should also allow users to order routes in "My Buses" and/or order them by `<RouteAbbreviation>` (loosely related to #225).

[2016-09-26 13:40] sherson opened #234 "Shorten welcome message"
Also, maybe get rid of its center-alignment. Currently doesn't look great on mobile.

Loosely related to #224

[2016-09-26 17:09] sherson commented on #231
Glenn gave this a thumbs up, and Seritta will do it. Leaving this open until it happens.

[2016-09-28 16:31] akaplo commented on #234
Closed by #236.

[2016-09-28 16:31] #234 closed, assigned to akaplo

[2016-09-28 16:32] akaplo commented on #43
Previous comment being taken care of by #235.

[2016-09-28 17:08] akaplo commented on #224
Closed by pushing to master by mistake, see [commit 1](https://github.com/umts/pvta-multiplatform/commit/5d2677a0c6ff6940063368ce58ebc04a310271b2) and [commit 2](https://github.com/umts/pvta-multiplatform/commit/e8eee5135a36ad7df3d93c83fca676bda7ae03a5)  for more info.

[2016-09-28 17:08] #224 closed, assigned to nobody

[2016-09-28 22:53] #211 closed, assigned to akaplo

[2016-10-04 00:55] #225 closed, assigned to nobody

[2016-10-04 17:52] akaplo commented on #209
@bgregg how's this coming?

[2016-10-04 21:19] akaplo commented on #43
Closing.

[2016-10-04 21:19] #43 closed, assigned to nobody

[2016-10-04 21:20] akaplo commented on #220
@sherson any word on PDFs?

If not, I'll just include a link to the PVTA webpage.

[2016-10-05 02:48] #229 closed, assigned to akaplo

[2016-10-05 11:54] sherson commented on #220
Please include the schedule webpage link.

[2016-10-12 04:40] akaplo commented on #226
This is a huge feature addition.  If we actually want to kill off this project, this needs to be put on hold.

[2016-10-12 04:47] akaplo commented on #222
Dependent on #148.

[2016-10-12 04:48] akaplo commented on #161
Eh, who cares.

[2016-10-12 04:48] #161 closed, assigned to nobody

[2016-10-12 04:52] akaplo commented on #231
@sherson heard there's been some progress on this?

[2016-10-12 13:03] sherson commented on #231
I emailed Seritta about how this is going.

[2016-10-12 13:47] sherson commented on #231
I was told posters should be up by the end of the week.

[2016-10-14 02:03] akaplo opened #240 "List Storage Failure"
Chrome's console has been reporting this for a while:

[code]

After finally reading up on it and learning it's a cross-browser issue related to how we're trying to store objects (and, more importantly, functions?) in localstorage, I've opened an issue.

We should figure out why this bug occurs and fix it.

[2016-10-14 02:22] #240 closed, assigned to akaplo

[2016-10-17 16:36] #220 closed, assigned to akaplo

[2016-10-19 15:57] bgregg commented on #209
This is almost there, should be done today or tomorrow

[2016-10-20 17:01] sherson opened #243 "Routes sorting messed up after reload"
Routes appear to be sorted by `<RouteAbbreviation>` when the user first loads the [Routes list](https://umts.github.io/pvta-multiplatform/#/app/routes-and-stops/0), however, after reloading that page, or going to a route and back to the routes list, it's sorted by `<ShortName>`.

See #225 (also loosely related to #210).

[2016-10-26 11:25] sherson opened #246 "Display stop departures per route per direction"
Like businfoboard (so, for example, OH and MC buses show up separately)

https://umts.github.io/pvta-multiplatform/#/app/stops/58
http://umts.github.io/BusInfoBoard/?stops=58

<img width="559" alt="multiplatform-stop58" src="https://cloud.githubusercontent.com/assets/409008/19724220/157d8972-9b4d-11e6-9cc2-6e73e5e09594.png">

<img width="685" alt="businfoboard-stop58" src="https://cloud.githubuser

[2016-10-28 18:50] sherson commented on #231
Decided to hold off because we hope we're close to launching as Android and iOS apps #230.

[2016-10-28 18:51] sherson commented on #230
Reminded PVTA a few times over the last month, and was told this has been approved. I emailed PVTA another reminder today.

[2016-11-03 03:10] akaplo commented on #246
@sherson Just had a few non-bus people suggest to me that we give the option of sorting all departures at a stop by **time**, as many passengers might not care what departure is next for a given _route_, but what departure is next _in general_.

Thoughts?  I think an option to sort by route or time is a good idea.

[2016-11-03 10:12] sherson commented on #246
There are pros and cons to each sort, so good idea.

Side note: that was actually [the first issue created for BusInfoBoard](https://github.com/umts/BusInfoBoard/issues/1) (which allows it via query string).

![little-known-fact](https://cloud.githubusercontent.com/assets/409008/19962055/3d94d682-a18c-11e6-84f6-055f096add71.png)

[2016-11-04 04:04] akaplo opened #249 "Switch to Ionic Native"
[ngCordova](http://ngcordova.com/docs/), which we've been using since we started, has been replaced by [Ionic Native](http://ionicframework.com/docs/v2/native/).  While _Native_ targets Ionic 2 and Typescript, it is **fully** compatible with Ionic 1 apps.

Assuming we'll eventually migrate to Ionic 2, Ionic Native is a great way to enhance our UX with ES5 while still leveraging Ionic 1.  The list

[2016-11-04 04:35] akaplo commented on #221
[ionic deeplinking plugin](http://ionicframework.com/docs/v2/native/ionic-deeplinks/)

[2016-11-04 04:35] akaplo commented on #231
Hibernating until #230 is closed.

[2016-11-04 04:37] akaplo commented on #246
Should be able to bang the rest of this out tomrrow.

[2016-11-04 04:38] akaplo commented on #249
Already halfway done with this, see [ionic-native](https://github.com/umts/pvta-multiplatform/tree/ionic-native) branch.

[2016-11-07 20:25] akaplo opened #251 "Switch to GoogleDescription and Description"
When Avail returns `Route`s and `Stop`s, some have their names cut off:

![image](https://cloud.githubusercontent.com/assets/7144148/20074421/2e5bf3ec-a4fe-11e6-8d05-c559520c5232.png)

![image](https://cloud.githubusercontent.com/assets/7144148/20074408/179a49ec-a4fe-11e6-8176-bf9059afffbf.png)

For a `Route`, we can switch from `LongName` to `GoogleDescription`.  For a `Stop`, we can switch from

[2016-11-08 02:58] akaplo commented on #249
Not super important yet.  Will wait until after 1.0 to start messing with this.

[2016-11-08 03:03] akaplo commented on #243
Will wait until after the Routes list updated are merged via #209 and #210.

[2016-11-08 03:05] akaplo commented on #230
Updating for the sake of a paper trail:  A/O today, PVTA says they have obtained Play Store credentials (UMTS does not have possession yet) but also that they are facing a legal roadblock regarding App Store credentials.

[2016-11-08 04:34] akaplo commented on #148
Looks like this is finally going to happen.  I managed to take the simplest path (:trollface:) possible - hardcoding the well-known SVG path for "Bus" with decent results.  My one question: for direction, we can use the `Heading` property from Avail's `vehicle` object for something like the following:

![image](https://cloud.githubusercontent.com/assets/7144148/20087076/626ba278-a543-11e6-8995-4b2

[2016-11-08 09:07] sherson commented on #148
Hmmm... I like it, but something about it seems a bit weird.

Upright bus icons with a little rotated arrow/triangle indicating direction (or rotated buses with a rotated arrow/triangle) would be better, I think.

Still, as is, it's a step up from the default location pins.

[2016-11-08 09:16] sherson commented on #148
Also, that's just my first impression. After writing that comment, I looked again and my second impression is that it's simple and effective as is.

So I think it's fine to implement. Also, despite the vague, knee jerk weird feeling mentioned above, it looks good, in my opinion.

[2016-11-08 14:25] werebus commented on #148
Yeah, my first impression was that it was a little goofy looking.  It does communicate the piece of information you're trying to get across, though.  I'd say go with it and work on something a bit more nuanced later.

[2016-11-08 15:06] akaplo commented on #148
Goofy is exactly the word I'd use, as well as deceptively simple. I will finish implementing.  This is actually a good setup for #226.

[2016-11-09 23:34] #148 closed, assigned to akaplo

[2016-11-09 23:34] #251 closed, assigned to nobody

[2016-11-14 12:34] sherson opened #257 "Schedule: Can't change time when searching"
Tapping on `Leaving Now` (next to `Search for buses:`) doesn't do anything in Chrome in Android. Works fine on Chrome in OSX.

[2016-11-14 12:37] sherson opened #258 "Schedule: Date/time selection UI (after a trip has been returned)"
After a trip has been returned, it's a little weird that the footer has the text `Not the trip you want?` next to a button with the text `Pick another time` for a couple reasons:

1. That button only lets the user pick another date.
2. That button is far away from where the user can (or should be able to - see #257) pick another time.

Would be better if this was more unified/consistent/convenient

[2016-11-14 19:21] sherson commented on #257
More information:

This behavior was reproduced on multiple devices. The problem exists with Chrome and Firefox for Android. It sometimes works if the user taps in a rather narrow spot (on the right edge of the screen just above the `Departing At...` triangle and below the `Enter a destination` field).

Tapping on `Leaving Now` using Chrome for iOS or Samsung's stock Internet browser seems to work

[2016-11-15 14:15] sherson commented on #230
Talked to PVTA again regarding the (frustrating) delay. They had run into an issue, and this has been handed off to someone else there to finish up, but should (hopefully) be nearing completion.

[2016-11-15 15:25] akaplo commented on #230
Did they give any semblance of a timeline? I recall we gave them a "deadline" of Thanksgiving.

[2016-11-15 15:46] sherson commented on #230
Nothing specific, but I'll try to contact the other person today. You'll know when I know.

[2016-11-15 18:02] akaplo commented on #257
Closed via #259 (Ionic bug related to Chrome 52; Ionic was updated to resolve it, see their [release notes](https://github.com/driftyco/ionic/releases/tag/v1.3.2)).

[2016-11-15 18:02] #257 closed, assigned to nobody

[2016-11-15 18:09] #258 closed, assigned to nobody

[2016-11-15 18:14] akaplo opened #261 "Add aria Labels Throughout App"
This issue pertains to labeling content of pages so a screenreader can read out the buttons, sections, etc.

https://docs.google.com/document/d/1YCbIRPXAtBY0PftbALOMGl6bn31qiAY_l867xDUKsiU/edit?ts=581cd8cf

[2016-11-15 18:15] akaplo opened #262 "Screenreaders Can't See Back Button"
Should probably make it so screen readers can give the option of going back.

https://docs.google.com/document/d/1YCbIRPXAtBY0PftbALOMGl6bn31qiAY_l867xDUKsiU/edit?ts=581cd8cf

[2016-11-15 18:16] akaplo opened #263 "Screenreaders Don't Understand Ionicons"
Perhaps adding something like `<alt>` to the tags that include ionicons would help the screenreader read them.

https://docs.google.com/document/d/1YCbIRPXAtBY0PftbALOMGl6bn31qiAY_l867xDUKsiU/edit?ts=581cd8cf

[2016-11-15 18:17] akaplo opened #264 "Make Sidemenu Accessible"
Screenreaders can't seem to figure out how to navigate their way in/out of it.

https://docs.google.com/document/d/1YCbIRPXAtBY0PftbALOMGl6bn31qiAY_l867xDUKsiU/edit?ts=581cd8cf

[2016-11-15 18:28] akaplo opened #265 "Route and Stop Pages Have No Title"
When navigating to either `Route` or `Stop` the browser tab continues to have the name of the previous page.

This issue pertains to making the route page have a title of "Route" and likewise for stop.

The issue manifests like so, where the tab is called My Buses, but we're on the Stop page:
![image](https://cloud.githubusercontent.com/assets/7144148/20318209/5814f1fe-ab37-11e6-940b-c153b05a93fc.

[2016-11-15 18:30] #265 closed, assigned to akaplo

[2016-11-16 17:54] #246 closed, assigned to akaplo

[2016-11-16 19:03] akaplo opened #267 "Users No Longer Can Retrieve Current Location"
@sherson @werebus @petermarathas @bgregg @dfaulken I need everyone's thoughts on this.  Since we switched the DNS records and became `m.pvta.com`, we've had to serve over `HTTP` instead of `HTTPS`.

Majors browsers **disallow location services to be requested** by sites served over `HTTP`, so this will cause many of our users to be unable to use some of our key features.

Should we:
- switch the D

[2016-11-16 20:13] dfaulken commented on #267
My question is: why does m.pvta.com not simply serve SSL?

[2016-11-16 20:19] werebus commented on #267
Because m.pvta.com is a server (or servers) in GitHub's datacenter, and they don't support SSL for domains that aren't *.github.com and *.github.io because doing so would require them to have the private key (and DCV process) for each domain.

[2016-11-16 20:28] werebus commented on #267
This one, I think:

[2016-11-19 03:04] #209 closed, assigned to bgregg

[2016-11-22 14:43] sherson commented on #230
FYI, @werebus, @dfaulken, and I successfully logged into the [Google Play Developers Console](https://play.google.com/apps/publish).

[2016-11-22 17:03] akaplo commented on #230
As have I!

[2016-11-23 03:01] akaplo opened #270 ""Too Many Stops to Show..." no longer appears"
On the `Routes and Stops` stop list, we usually have a blue bar at the bottom that tells the user they need to search for stops.  This no longer appears, and it should.

[2016-11-23 03:41] akaplo commented on #230
I think it's reasonable that I close this issue.  Thanks @sherson for your perseverance in pushing it though!!

[2016-11-23 03:42] #270 closed, assigned to akaplo

[2016-11-23 10:33] sherson commented on #230
I was going to leave it open until we're in the Apple Developer Program, but we don't really need an issue for this, so that's fine (I'll keep asking about it).

[2016-11-23 19:45] akaplo commented on #230
Lol I totally forgot about that because I was so excited.

[2016-12-01 05:49] akaplo opened #274 "Route With Only Past StopDepartures Still Appears"
Time of screenshot: 12:42AM on a Thursday:
![image](https://cloud.githubusercontent.com/assets/7144148/20783029/fe8933b4-b75e-11e6-9239-0f1419d30dfa.png)
Odd, since the last B43 at Amherst College is scheduled at 12:15AM.

From the Avail feed, also at 12:42AM:
![image](https://cloud.githubusercontent.com/assets/7144148/20783270/bcb757b6-b760-11e6-9d89-242122f9f060.png)

The date highlighted above

[2016-12-01 16:36] #274 closed, assigned to nobody

[2016-12-01 18:14] petermarathas opened #276 "Toast for adding to favorites"
When a route is added as a favorite on the Routes and Stops page, it will disappear and move to the top of the list with the other favorites. Add a toast to explain this to the user.

[2016-12-01 18:17] akaplo commented on #243
A fix for this is included in #272.

[2016-12-01 18:18] #210 closed, assigned to akaplo

[2016-12-01 18:19] akaplo commented on #243
I believe this is now resolved. I still have never run into this problem, but #272 adds explicitly forcing sorting by `RouteAbbreviation`.  @sherson let me know if you still encounter this and we can reopen and look more closely.

[2016-12-01 18:19] #243 closed, assigned to nobody

[2016-12-01 20:18] sherson commented on #243
Great, thanks.

[2016-12-01 20:34] sherson commented on #274
I referenced this in an existing issue about buses being on the wrong trip, and also opened an issue about  `<LastStop>` being `City Line I`, which isn't a real stop (it seems that field includes non-public stops).

[2016-12-02 15:57] sherson opened #279 "Display <LastUpdated> for user"
We should display `<LastUpdated>` so that users know the age of a bus location.

For purposes of comparison:

![pvta-bus-tracker-vehicle](https://cloud.githubusercontent.com/assets/409008/20840345/ed1211e4-b87d-11e6-880c-d019acab97b9.png)

![pvtrack-vehicle](https://cloud.githubusercontent.com/assets/409008/20840349/efe35c70-b87d-11e6-869f-67a97374dfcc.png)

[2016-12-02 20:01] akaplo opened #280 "Auto-Refresh Maps"
Maps, when loaded, have vehicle locations on them.  We don't auto-update them.  We should.

[2016-12-02 20:01] akaplo commented on #280
Bundling into a PR with #279.

[2016-12-02 20:02] akaplo commented on #279
Bundling into a PR with #280.

[2016-12-04 17:00] #279 closed, assigned to akaplo

[2016-12-04 17:00] #280 closed, assigned to akaplo

[2016-12-04 17:02] akaplo commented on #267
The effects of this have been slightly mitigated by #278, but I'm leaving it open.

[2016-12-06 14:17] akaplo commented on #267
For the sake of a paper trail: a/o 12/5/16, @werebus is planning to get us off gh-pages and obtain an SSL cert, as noted above.

[2016-12-06 14:23] akaplo opened #283 "Popup Telling Users Android App is Available"
When we ship 1.0, I think we should have a popup for browser users at m.pvta.com to tell them we have a native app available on the Play Store, and that an iOS app is forthcoming.  This popup need only appear once per user.

[2016-12-06 16:29] akaplo opened #284 "Remove Useless Toggles From Settings"
Data Saver and Use Location toggles do nothing.

[2016-12-06 16:31] akaplo opened #285 "When You Load Stops on RoutesAndStops, Sort By Nearest When Location is Available"
^^

[2016-12-06 17:18] #284 closed, assigned to petermarathas

[2016-12-06 17:18] #276 closed, assigned to nobody

[2016-12-06 17:33] #285 closed, assigned to akaplo

[2016-12-07 17:50] akaplo opened #288 "Stops Sometimes Won't Show"
Not sure how or why.  ~So far only seen on Android native.~ EDIT 12/19 **Affects all platforms**

Step to reproduce: go to Routes and Stops ~-> Stops -> try searching for something, and then backspace your search query.~ EDIT 12/19: perform a search -> attempt to switch tabs (routes to stops or vice versa) with the search query **still entered in the search bar** -> add something to the search que

[2016-12-07 18:06] akaplo opened #289 "Stop Departure Loaders Sometimes Never Hide"
Why? I don't know!

[2016-12-13 16:25] werebus commented on #283
Mmmm...

Nothing I like better than I website that tells me, "I know you're already here, but would you like to go somewhere else that has the same information, but first you have to install an app?"

[2016-12-13 16:26] akaplo commented on #283
Maybe, then, replace the "This is a beta" bar on My Buses with a "Go get the real app" bar?

[2016-12-13 16:38] akaplo opened #290 "Make "Stops On This Route" Look Better"
It looks like...not a button or a link, that's for sure.

![image](https://cloud.githubusercontent.com/assets/7144148/21149171/9901ede6-c128-11e6-87b8-38a1c7371aa6.png)

How the *&@! am I supposed to know what that does?  I just makes me think it's tryna load stuff, but it can't.

[2016-12-13 16:39] akaplo opened #291 "Move Alerts to the top of the routes page"
If alerts are extremely important and can impact your trip, why scroll all the way down?

[2016-12-14 18:48] akaplo opened #294 "Removing Favorites on MyBuses Fails"
Sliding left on a favorite route or stop and tapping the trash can should remove the item from the screen and push all remaining items up.  This once worked but seems non-functional now.

[2016-12-14 19:06] akaplo commented on #294
Figured out why this happens. In [6d661a5f69aba52c9ac931f7307b2cd217f78143](https://github.com/umts/pvta-multiplatform/commit/6d661a5f69aba52c9ac931f7307b2cd217f78143) I added view code for Angular to order the arrays on the fly, and doing the filtering in the view doesn't persist to the array vars in code.   So, when we send the index of the route/stop the user wants to unfavorite, it's the index

[2016-12-14 19:07] akaplo commented on #294
In the case where a user favorites routes and stops alphabetically, this actually is a non-issue 🎈

[2016-12-14 20:00] akaplo opened #296 "Stops popup on Route page won't let you favorite stuff"
When you click on the heart the first time, it seems to work, but then it randomly redirects you and doesn't let you favorite anything else.  It shouldn't redirect, and it should allow you to favorite/unfavorite as many stops as you wish. It should only redirect when you **don't** click on the heart.

[2016-12-15 23:32] #290 closed, assigned to akaplo

[2016-12-15 23:35] #296 closed, assigned to akaplo

[2016-12-16 22:47] #291 closed, assigned to akaplo

[2016-12-16 22:47] #294 closed, assigned to akaplo

[2016-12-19 19:39] #289 closed, assigned to akaplo

[2016-12-20 05:10] akaplo commented on #288
This is a showstopper; can't release 1.0 publicly till this is fixed. @petermarathas and @bgregg if you guys have time and wanna take an issue this week, it should be this one!

My guess for a fix is to hide the filter bar and clear the query when the user switches between the two lists.

[2016-12-20 18:14] #288 closed, assigned to akaplo

[2016-12-21 02:27] akaplo commented on #267
![image](https://cloud.githubusercontent.com/assets/7144148/21375378/189ac3b6-c6fb-11e6-811c-169eb5597985.png)

[2016-12-21 02:31] akaplo commented on #222
Why is this still open?  This issue asks for a map icon in the Route header, and map icon removal from the bus list.
As of right now, we have that. Am I missing something?
![image](https://cloud.githubusercontent.com/assets/7144148/21375460/b2fd4532-c6fb-11e6-8f29-eb70d1927020.png)

[2016-12-21 08:18] sherson commented on #222
yep, all set

[2016-12-21 08:18] #222 closed, assigned to nobody

[2016-12-27 16:25] werebus commented on #267
All set

[2016-12-27 16:25] #267 closed, assigned to nobody

[2016-12-30 21:01] sherson commented on #283
This came up in a discussion today... my opinion:

I'd rather it be mentioned somewhere in the app without being obtrusive. If being in `Settings` > `About` is too buried, perhaps there could be another item listed in the menu below `Settings`. I think a bar at the top of the main screen or a pop-up would be annoying.

[2017-01-24 00:16] akaplo opened #304 "Routes and Stops Lists May Never Appear"
Some edge cases cause the Routes and Stops page to never display the lists that users expect, and the page doesn't show any errors; it's just a blank page.

![image](https://cloud.githubusercontent.com/assets/7144148/22228458/45b64a0a-e19f-11e6-8c9d-c031fa65a29a.png)

Known cases of this so far:

- [ ] Browser doesn't allow any cookies or site storage.  Thus there must be `localforage` issues here

[2017-01-25 15:07] akaplo commented on #304
I'm gonna work on this slowly. I'll also add a helper function for displaying errors to the user. I think leveraging toasts for that is a good idea.

[2017-01-30 18:52] #264 closed, assigned to petermarathas

[2017-01-30 19:06] #263 closed, assigned to petermarathas

[2017-01-30 19:06] #261 closed, assigned to petermarathas

[2017-01-31 15:22] akaplo opened #306 "Clicking on a bus in the map shouldn't also click on the route trace"
^^^^^^^

[2017-01-31 16:16] werebus commented on #306
In fact, there doesn't appear to be any utility in having a click/tap event on the route trace at all.

[2017-02-02 01:55] #304 closed, assigned to akaplo

[2017-02-03 04:12] akaplo commented on #306
Agreed.  Turns out there's a [property on KMLLayer](https://developers.google.com/maps/documentation/javascript/kmllayer#kml_layer_options): `suppressInfoWindows`.  Seems like it might just serve our purpose.

[2017-02-03 04:34] akaplo commented on #249
wontfix. ngcordova serves our purposes just fine. Any update to Ionic 2 would automatically implement the switch ti Ionic Native. Closed.

[2017-02-03 04:34] #249 closed, assigned to nobody

[2017-02-03 05:24] akaplo commented on #283
I was bored tonight and implemented this, which I set to appear everywhere other than when run _natively_ on Android (i.e. it will appear on mobile Chrome on Android).  Thoughts?

A very obv macOS screenshot:
![image](https://cloud.githubusercontent.com/assets/7144148/22580477/be90ffd8-e9a6-11e6-83f6-52fda469c0bc.png)

A very obv Android Chrome screenshot (pardon my 12:30am screenfilter):
![image]

[2017-02-03 05:32] akaplo commented on #230
Paper trail update: still waiting on iOS.  Stable 1.0 released on Android on December 31st, 2016. 🎊

[2017-02-03 14:31] sherson commented on #230
I pinged PVTA about it.

[2017-02-03 14:38] sherson commented on #283
Just to confirm, it would still only appear once per user?

[2017-02-03 16:17] akaplo commented on #283
That's minimally intrusive enough that I'd just leave it there and eventually remove it with another update.  For that amount of intrusiveness, I wouldn't expect users to even see it the first few times they use the app while it's there.

[2017-02-08 00:40] akaplo commented on #283
I believe @sherson, @werebus, and I spoke in person on Friday.  I'm working on an even more non-intrusive version that appears at the bottom of the sidemenu as opposed to an entire entry.

Screenshots to follow soon.

[2017-02-08 17:14] sherson opened #309 "RouteStops List Appears Incomplete Due to 40-Stop Display Limit"
Noticed that the stops list for [Route 45](https://m.pvta.com/#/app/routes/20045) is missing [Gulf in/out (231/232)](https://bustracker.pvta.com/InfoPoint/rest/Stops/GetAllStopsForRoutes?routeIDs=20045), though they come up via the search.

[2017-02-08 17:34] werebus commented on #309
Isn't that by design? It looks like the list [shows you the closest 40 stops](https://github.com/umts/pvta-multiplatform/blob/222f1381fde6fb490478991034797a46b0a0cfc3/www/pages/route/stop-modal.html#L8). When I look at that list from the office, I also don't see Belchertown Center, e.g.

[2017-02-08 19:07] akaplo commented on #309
To clear up at least some of the confusion, I suggest adding the same bar that appears on `Routes and Stops` to the stop list on the Route page:

![image](https://cloud.githubusercontent.com/assets/7144148/22752830/f1923d4c-ee07-11e6-881a-e73ea8cc12e8.png)

[2017-02-08 19:41] sherson commented on #309
That'd work. Alternatively, is there a reason not to show more stops? Route 45 has the most at 64 (not counting two that are being removed soon). There are a couple other routes with 40something stops.

_Edit: That's looking at UMTS routes... I'm not sure if any VATCo/SATCo routes have more stops._

BTW, I thought it was supposed to sort the stops by proximity, but that didn't appear to be the cas

[2017-02-09 16:57] akaplo commented on #283
Here's what I came up with. Thoughts?

![image](https://cloud.githubusercontent.com/assets/7144148/22793619/5ade578e-eebe-11e6-85bb-1fa7b8ab64b3.png)

![image](https://cloud.githubusercontent.com/assets/7144148/22793743/baf33eaa-eebe-11e6-9eec-a45067c432dd.png)

[2017-02-09 17:12] akaplo commented on #309
I believe my original intention for the RouteStops list was to show them all, but there were some VATCo routes with over 100 stops.

[2017-02-09 17:14] akaplo commented on #309
OK, so I'm considering wrapping a few things into this issue:

~~- [ ] Sort RouteStops on the fly, similar to how it works on Routes&Stops.~~
- [ ] Add the "too many stops to show" bar to RouteStops

Regarding the sorting, RouteStops are displayed in the order that they come from Avail - the "SortOrder", as Avail calls it.  On the 30, for example, the order is Puffton1, Puffton2, N. Village, Fairf

[2017-02-09 21:00] akaplo opened #311 "Getting Other Garages to add Alerts and Detours to Avail"
Can this be brought up, perhaps at some sort of meeting?  If the app is supposedly the "official" one that passengers should use, perhaps the other garages might wish to add their service alerts.

Their alerts generally appear on pvta.com, but they don't seem to be added to the realtime feed.

[2017-02-10 01:03] sherson commented on #283
👍

[2017-02-10 01:16] sherson commented on #309
I think the order is fine the way it is.

Coincidentally, at the garage the first couple screens of 45 stops looked (at a quick glance) like they're the closest, so I thought that's what it was doing (upon closer inspection, I see several exceptions).

[2017-02-10 02:18] akaplo commented on #309
Ok! I'll add the bar to the page, and I think that'll resolve this.  I've updated the title.

[2017-02-10 22:25] #309 closed, assigned to nobody

[2017-02-13 18:57] petermarathas opened #313 "Screen readers"
- [x]  "PV-Track"

- [x]  Stops on the Route page

- [x]  Routes and Stops - the favorite button for each route/stop hides the ng-click option to redirect to that route/stop.

- [x] Ionicons on About page

[2017-02-13 18:57] petermarathas commented on #313
@akaplo

[2017-02-15 01:24] akaplo commented on #313
@petermarathas which of these would you like help on? (also I edited your original thing to make it be checkboxes cause I like checkboxes)

[2017-02-15 16:11] petermarathas commented on #313
@akaplo

If we could somehow separate the heart from the <code>ng-click</code>, that problem would be fixed. The rest will be easy.

[2017-02-17 01:44] akaplo commented on #313
I'll take that on for ya.

[2017-02-20 01:55] akaplo commented on #313
Completed on the [Aria branch](https://github.com/umts/pvta-multiplatform/tree/aria).

[2017-02-21 19:06] sherson opened #314 "Map that shows multiple routes"
This could be handy as a way to show [routes](https://m.pvta.com/#/route/20030/map) in various regions (UMTS, Noho, etc.). The current [PVTA system map ](http://www.pvta.com/systemMap.php) has some interesting features, but lacks geographic accuracy.

Might be cool if we could select routes (and perhaps whether or not to show bus locations) by query string.

Is this worth doing?

[2017-02-21 19:07] sherson opened #315 "Route map location not needed"
@akaplo mentioned that route [maps](https://m.pvta.com/#/app/map/route/20030) jumping to the user's location is annoying here. I agree... it's useful for [schedule](https://m.pvta.com/#/app/plan-trip), but isn't needed on the route maps.

[2017-02-21 19:08] sherson opened #316 "Route map loads blank"
When loading a [route map](https://m.pvta.com/#/app/map/route/20030) directly, it's blank (comes up fine if page is reloaded).

@akaplo mentioned there's a timing issue.

[2017-02-21 21:03] akaplo commented on #314
I think we can relegate this to the next version™.

[2017-02-23 03:30] akaplo commented on #316
Done, moved 2 lines of code.

[2017-02-23 03:30] akaplo commented on #315
Done, removed one line of code.

[2017-02-24 16:22] #316 closed, assigned to akaplo

[2017-02-24 16:22] akaplo commented on #315
Closed via #319.

[2017-02-24 16:22] #315 closed, assigned to akaplo

[2017-02-24 16:23] akaplo commented on #313
Closed via #317.

[2017-02-24 16:23] #313 closed, assigned to petermarathas, akaplo

[2017-02-24 16:24] #311 closed, assigned to nobody

[2017-02-24 16:24] akaplo commented on #306
Yeah, I'm still unsure how to fix this 😞

[2017-02-24 16:26] akaplo commented on #262
@petermarathas was this fixed in #317? I believe so.

[2017-02-24 16:33] akaplo opened #320 "Remove or Enhance MyBuses First-Time Popup"
Not read properly in screenreader (it's read, but not until after all the other content, which isn't right when it comes to a popup).

Raises the question: is it useful, or an annoyance?

[2017-02-24 16:36] akaplo opened #321 ""Don't Use Internet Explorer""
Might be useful to include a "you should be using a recent version of a real browser" message.  Screenreader functionality seems to be completely missing in IE (it looked like our tester was using either IE 9, 10, or 11 on Windows 7)

[2017-02-24 16:40] akaplo opened #322 ""Best Screenreader Environment" Readout"
Was suggested that the first thing the screenreader says is a blurb about the best environment to use the app with screenreaders (which is Chrome with NVDA, btw).  This can be done by including an aria-label (or anything that a screenreader reads that a sighted user doesn't see) at the very beginning of the app.

[2017-02-24 16:46] akaplo opened #323 "Route Page Header IDs Are Read By Screenreader"
Might require replication of test user's environment, as could be related to specific screenreader software.

On the Route page, it seemed as though the headings, which we use to direct Aria on how to say some content, are being read.  So it's saying stuff like #RtAbbrv and #RtSName when it it shouldn't be.

[2017-02-24 16:48] akaplo opened #324 "Allow Autorefresh to be Turned Off"
It's a huge inconvenience for users with screenreaders to have a page (like Route Maps and Stop Departures) refresh automatically, as they get thrown back to the top of the page.

We should add a "don't autorefresh" option to the "autorefresh timing" option in Settings.  Should also include a screenreader-only readout on pages that autorefresh by default to tell them it happens and how to disable

[2017-02-24 16:49] akaplo opened #325 "Make the title of the stop departures page into a heading"
"Haigis Mall (74)" isn't read by Aria as a heading - it should be.

[2017-02-24 16:50] akaplo opened #326 "Plan Trip/Schedule Screenreader Issues"
- [x] Comboboxes need labels.  Screenreader users have no clue what's happening here unless we label them.

- [ ] The "here's a bunch of autocompletions for what you typed" dropdown isn't read out.  Users **must** select one of these suggestions in order for Plan Trip to work (see #327 before fixing this).

- [x] Can't click "search schedule" with standard "click button" keyboard combo - needed a

[2017-02-24 16:55] akaplo opened #327 "Cease Needing Autocomplete Selection on Plan Trip"
Loosely tied to #326 item no. 2.

On Plan Trip, we require the user to select one of the options that comes up in the Google-supplied autocomplete dropdown before we let them plan a trip.  I'd like this to no longer be a thing, as it's a huge pain in the booty (and it is almost impossible to use with screenreaders).

[2017-02-24 18:52] petermarathas commented on #262
I think so too. Going with yes.

[2017-02-24 18:52] #262 closed, assigned to petermarathas

[2017-02-28 20:29] akaplo commented on #320
In favor of removal. @werebus @sherson @petermarathas and @bgregg?

[2017-02-28 20:34] akaplo commented on #320
@sherson says "remove it!"

[2017-02-28 20:39] #320 closed, assigned to akaplo

[2017-03-01 01:55] akaplo opened #334 "Is the map on Plan Trip useful?"
I personally don't find it helpful and am in favor of removing it, but I'm interested in thoughts. @sherson @petermarathas @werebus.

[2017-03-01 03:11] petermarathas commented on #334
My thoughts are to keep it, but I put it there initially.

[2017-03-01 15:42] sherson commented on #334
I think we should keep the map. Viva la spatial thinking.

[2017-03-01 16:40] werebus commented on #334
Keep it. Without the map, you're told to "Walk to *stop name*", which you might not know the location of.

Admittedly, you can find it by tapping on the stop name in the directions and then tapping the map icon, but why add two more stops?

I **do** think that the map could start a little more zoomed in. What matters to me, mostly, is the relative positions of myself and the start of my journey, n

[2017-03-01 16:46] sherson commented on #334
That's a good point about the zoom level, though I think it's also acceptable to start with an overview map, and to zoom in on any walking portion(s).

[2017-03-21 12:46] werebus commented on #283
Here's a question. Should we do this instead?

https://developers.google.com/web/fundamentals/engage-and-retain/app-install-banners/

And does Apple have something similar?

[2017-03-21 14:05] akaplo commented on #283
Quick glance tells me the only thing in the production app stopping this
from existing automatically is the service worker requirement.

Will look into more detail.

Sent from my phone.

On Mar 21, 2017 8:46 AM, "Matt Moretti" <notifications@github.com> wrote:

[2017-03-21 15:44] akaplo commented on #334
Will keep the map.

[2017-03-21 15:44] #334 closed, assigned to nobody

[2017-03-21 15:47] akaplo opened #338 "Paginate Stop List"
Instead of a "Too many stops to show, please search above by name or ID," how about we put paginate the stops? 40 stops per page, with a bar at the top saying "showing 1-40 of 1200" with arrows for moving between pages?

[2017-03-21 15:49] akaplo opened #339 "Routes and Stops Need Not Refresh Everything Every Time"
How about moving retrieving the Route and Stop lists to the `Routes and Stops` constructor (once per app run) and only refresh favorites every time the view loads?

Currently there's a slowdown (like 500ms, but still) when following a navigation like the following: `R&S` => `Route` => `R&S`, because R&S tries, every time it's navigated to, to reload the big lists.  Favorites should be refreshed ev

[2017-03-22 02:38] akaplo commented on #339
Closed via #340.

[2017-03-22 02:38] #339 closed, assigned to akaplo

[2017-03-22 21:02] sherson commented on #230
There was some progress with iOS, but Apple rejected the enrollment. PVTA is sorting it out.

[2017-03-23 16:31] petermarathas commented on #327
This is the only way we can use the Google Directions service, as Google requires us to select the specific Google ID for a location. Maybe we can auto-select the top choice returned by Google whenever the user types anything.

[2017-03-23 17:03] petermarathas commented on #322
I think if the user is on Mac, the best browser is Safari. That's coming from my experience with it. Maybe "Google Chrome, or Safari for Mac users".

[2017-03-23 17:46] akaplo commented on #322
Yeah that's fine by me.  I develop exclusively in Chrome and haven't had issues, so it's nice to know we have 2 fully functional browsers 🎉

[2017-03-23 18:19] akaplo commented on #322
Closed via #343.

[2017-03-23 18:19] #322 closed, assigned to petermarathas

[2017-03-23 18:20] akaplo commented on #327
You're correct.  Your suggestion is a good idea, but I've mostly eliminated any erratic behavior from this in v2, so I'll close this issue.

[2017-03-23 18:20] #327 closed, assigned to nobody

[2017-03-23 18:24] #324 closed, assigned to akaplo

[2017-03-24 01:46] werebus commented on #321
I just want to reiterate my :-1: There is no way that IE doesn't have screenreader functionality.

[2017-03-24 12:48] fermion commented on #321
From a legally blind guy (really) on my team:

<img width="882" alt="screen shot 2017-03-24 at 8 47 31 am" src="https://cloud.githubusercontent.com/assets/2804/24294847/98289164-106e-11e7-8b07-01454ff7b36a.png">

[2017-03-24 13:21] akaplo commented on #321
Perhaps, then, it's just that something was wrong with our blind tester's computer?  In general, [Angular supports IE > 8](https://docs.angularjs.org/guide/ie), so there's technically no reason why it wouldn't work.  I'm open to altering the text we merged (sorry @werebus; a thumbs-down with no comment didn't end up on my radar haha).

FWIW, the text we added reads

For optimal screen-reader usage

[2017-03-24 23:01] akaplo commented on #283
The Safari equivalent for iOS - https://developer.apple.com/library/content/documentation/AppleApplications/Reference/SafariWebContent/PromotingAppswithAppBanners/PromotingAppswithAppBanners.html

FYI, there is no Firefox equivalent that I can find (branch.io is 3rd party service that might work, but 👎 ), which would leave out Android and iOS Firefox users.

All desktop users are left in the dark

[2017-03-24 23:08] akaplo commented on #283
A note on the Chrome method - it requires us to enable a service worker in the app before Chrome will show the popup.

The Service Worker script that ships with Ionic is [here](https://github.com/umts/pvta-multiplatform/blob/ionic2/base/src/service-worker.js) and can simply be cleared out to do nothing when run, if we so wish.

This is trivial for us to enable (in Ionic 2), but it seems odd to run

[2017-03-27 15:26] werebus commented on #283
I think the thinking on service workers is that it's a good indication that this is more than a web page. Otherwise, why am I installing this app?

Me too.  There isn't anything for them to install anyway.

[2017-03-28 23:43] akaplo commented on #231
Barring any miracles, pvtrack won't release on iOS before @petermarathas and I graduate.

@sherson, any chance we can move forward with announcements on our buses? I'd like passengers to start hearing about the app before graduation.  I'm fine with flyers that list `Play Store` and `m.pvta.com` and say "iOS coming soon" (we can put out new posters in December, when an iOS release drops :man_facepa

[2017-03-29 00:34] sherson commented on #231
Emailed Seritta about it (CCd @akaplo).

[2017-03-29 20:41] akaplo commented on #321
@sherson agrees with my comment, and suggested perhaps simply removing the sentence about IE in general, but is not opposed to the rewrite.

[2017-03-31 20:37] werebus opened #345 "App gets stuck downloading departures"
A few times recently, I've gone to (re?)start the app and was greeted by this

![screenshot_20170331-161902](https://cloud.githubusercontent.com/assets/240275/24568446/0aa982f4-1630-11e7-91d6-47f3ef3706ef.png)

Pulsing on the screen over and over again.

Killing the app and restarting it fixes the problem.

[2017-03-31 21:58] akaplo commented on #345
I might've experienced that as well.  Can you confirm whether this was after you switched apps while pvtrack was on the Stop page?

My issue, FWIW, is as follows:
If I'm on the Stop page and background the app for any period of time, upon my return I get a "downloading departures" spinner that pulses over the stop page as it looked when I left.  Interestingly, I think it pulses as many times as th

[2017-04-01 00:20] werebus opened #348 "Incorrect network detection"
Ran into this, this evening:

![screenshot_20170331-201303](https://cloud.githubusercontent.com/assets/240275/24573262/37f7b162-164f-11e7-96b7-5beafa20eadc.png)

Note the full wifi and cellular signal.  I also confirmed that I could access the web with Chrome.  Killing and restarting the app fixed it, but I couldn't get it to check again otherwise.

[2017-04-01 00:57] werebus commented on #345
I think you're right. I usually encounter this in the afternoons after I've
used the app that morning. About 8 hours later.

Just now I was able to get it to happen less severely after leaving it for
about half an hour.

On Mar 31, 2017 17:58, "Aaron Kaplowitz" <notifications@github.com> wrote:

[2017-04-01 01:00] akaplo commented on #348
Interesting.  Not sure why that happened.

[2017-04-01 01:02] akaplo commented on #230
Enrollment is pending once more.

[2017-04-01 02:38] akaplo commented on #345
I just realized (while I was debugging this in the emulator and couldn't reproduce it) that I had made a "hotfix" in [345c23d](https://github.com/umts/pvta-multiplatform/commit/c0684166fda6bb765ad92383cef91add175b1f0a#diff-ab9a6fe1a4c091d88734a8110345c23d), which hasn't been deployed to the Play Store yet.

That said, I'm working on a more permanent fix now.

[2017-04-01 02:45] akaplo commented on #345
The actual issue here is that the `ionViewWillLeave` lifecycle hook (which we use to cancel the autorefresh) doesn't get called when the native app gets backgrounded or closed; it only gets called when the page is navigated away from to _another page in the app_.

I'm implementing Cordova's lifecycle hooks `pause` and `resume` as a solution.

[2017-04-01 13:37] werebus commented on #348
I think this may be another backgrounding issue.  I'm not 100% sure, but I think I opened the app somewhere where I didn't have a network connection, but the app wasn't in the foreground when the network came back again.  ❓

[2017-04-02 21:50] akaplo commented on #348
Can't reproduce on my 5X; we'll talk in person.

[2017-04-04 02:05] akaplo commented on #326
Item 1 - Half implemented in V1, finished in V2.
At least on VoiceOver, there is a label and it sounds quite definitive to me (screenshot below is for the destination combobox on V2, but is the same for origin in V1 and V2):
![image](https://cloud.githubusercontent.com/assets/7144148/24638755/24c01654-18b9-11e7-84a0-4265f366bcbd.png)

Item 2 - There's not much we can do here as far as I'm aware.

[2017-04-04 02:07] akaplo commented on #325
This was closed in #330, #woops.

[2017-04-04 02:07] #325 closed, assigned to akaplo

[2017-04-04 02:08] akaplo commented on #321
New associated PR is #346 (v2 only).

[2017-04-04 02:08] akaplo commented on #323
We fixed this, yo!

[2017-04-04 02:08] #323 closed, assigned to nobody

[2017-04-04 02:11] akaplo commented on #283
True on Chrome's reasoning behind requiring service workers.

So, thoughts on what the service worker should do?  By default, it's implemented as an "aggressive cache."

[2017-04-04 18:50] akaplo commented on #345
Closed via #349.

[2017-04-04 18:50] #345 closed, assigned to akaplo

[2017-04-04 18:50] akaplo commented on #338
Closed in #350.

[2017-04-04 18:50] #338 closed, assigned to akaplo

[2017-04-05 18:31] akaplo commented on #321
Closed, yet again, via #346.

[2017-04-05 18:31] #321 closed, assigned to akaplo

[2017-04-07 01:13] akaplo opened #354 ""no upcoming departures""
Usually on stop page, must add to V2 to avoid a blank white page

[2017-04-07 18:32] akaplo opened #355 "Development Builds on app3?"
Like, on a separate path that's not shared with others (`/beta`, perhaps).

[2017-04-07 19:34] akaplo opened #357 "Stop page doesn't get favorited status correctly, sometimes"
When it's the first page to be loaded, it has this problem.   This is most likely the Stop page's version of a Route problem that I fixed in [this commit](https://github.com/umts/pvta-multiplatform/pull/353/commits/f7996757dca52d4179bce93d67742f60fc71f471).

[2017-04-07 19:42] werebus commented on #355
I added this to #351

It's deployed to https://m.pvta.com/beta

[2017-04-07 19:45] akaplo commented on #354
Closed via #356.

[2017-04-07 19:45] #354 closed, assigned to nobody

[2017-04-07 19:49] akaplo opened #360 "Web Browser Niceties"
Dur.  Favicon, fix manifest.json, home screen icons for mobile browsers, etc.  `master` has all of this, so it can likely just be copied.

[2017-04-07 19:50] akaplo commented on #348
One thing we can both reproduce is backgrounding the app, toggling internet off/on a few times, and reopening the app.  Upon doing so, the "no interwebs" Toast will pop in and out as many times as the phone lost connection.

Will fix by adding a global "pause/resume" listener to stop the global "no internet?" listener.

[2017-04-07 19:51] werebus commented on #360
Along the same line, [`manifest.json`](https://github.com/umts/pvta-multiplatform/blob/ionic2/base/src/manifest.json)?

[2017-04-09 01:30] akaplo commented on #360
Yeah. Renamed issue and updated first comment.

[2017-04-10 17:22] akaplo opened #362 "Online/Offline Listeners No Longer Work"
Broken by #361.  Turns out, there IS a difference between `document` and `window`.

`document` must be used for setting listeners for `pause` and `resume` events, and `window` must be used for settings listeners for the `online` and `offline` events.

I'm not entirely sure why.

[2017-04-10 18:32] akaplo commented on #362
Closed via #363.

[2017-04-10 18:32] #362 closed, assigned to akaplo

[2017-04-10 18:32] akaplo commented on #357
Closed via #358.

[2017-04-10 18:32] #357 closed, assigned to akaplo

[2017-04-10 18:33] akaplo commented on #355
Closed via #351.

[2017-04-10 18:33] #355 closed, assigned to werebus

[2017-04-10 18:33] akaplo commented on #306
I think this was actually finally closed via #353.  Not sure what changed, but my original idea from above worked.

[2017-04-10 18:33] #306 closed, assigned to nobody

[2017-04-10 18:35] akaplo commented on #326
@petermarathas and @sherson, given my comment above, are there any outstanding objections to this issue being closed?

[2017-04-11 15:21] akaplo opened #365 "Pull To Refresh on Stop Page"
Wouldn't that be nice?

[2017-04-11 15:45] akaplo commented on #231
The poster will go up very soon, and will look very close to this (with one or two final tweaks).

![image](https://cloud.githubusercontent.com/assets/7144148/24917816/582e7690-1eac-11e7-9e46-de9999bfb132.png)

[2017-04-11 17:03] werebus commented on #231
What does that asterisk go to?

[2017-04-11 17:16] akaplo commented on #231
That was the fix that's since been made - the actual printed version says

[2017-04-11 18:20] akaplo commented on #365
Closed via #366.

[2017-04-11 18:20] #365 closed, assigned to nobody

[2017-04-12 02:57] akaplo commented on #360
This is all set and ready for a PR, with the exception of the Service Worker.

[2017-04-12 14:24] sherson commented on #326
Is it worth asking Joshua for suggestions about the second item?

[2017-04-12 14:40] sherson commented on #231
I'm pretty sure I suggested to Seritta that she replace the * with iOS, but [whatever](http://bikeshed.org/).

[2017-04-12 15:01] werebus commented on #231
Yeah, I just have an OCD-ish objections to when there are a number of asterisks that is not a multiple of 2.

[2017-04-12 18:22] akaplo commented on #231
Merf. They're already printed and I don't feel like making her change it (you guys are welcome to, though!).

![image](https://cloud.githubusercontent.com/assets/7144148/24973064/7291726e-1f8b-11e7-8361-796d40b75fa7.png)

[2017-04-12 18:23] akaplo commented on #326
It's worth asking him to try the site at `m.pvta.com/beta` in general.

[2017-04-12 19:07] akaplo commented on #360
@werebus and I decided that service worker shall exist and do nothing! 🎈

[2017-04-12 19:14] akaplo commented on #283
~Soo #367 would close this.~ False. #367 doesn't include support for showing the app store install banner; just the home screen one.

[2017-04-13 01:29] sherson commented on #326
^ Emailed him about it.

[2017-04-13 17:38] akaplo commented on #348
Think I finally managed to reproduce @werebus original bug. If a network change occurrs WHILE the app is loading, it might simply never think you have Internet.

[2017-04-13 19:40] petermarathas commented on #326
Item 2 happens because we can't change the aria settings for Google's autocomplete service. We need to use their autocomplete in order to use their directions, so I think the best option is to just read out "Start typing and then check below" like we have.

Checked out v2 - items 1 and 2 look good -- I think this issue can be closed.

[2017-04-13 20:19] sherson commented on #326
Yep, Josh's reply was quite positive. @akaplo is going to look into a different suggestion that Josh made, but we can close this.

[2017-04-13 20:19] #326 closed, assigned to nobody

[2017-04-13 20:32] akaplo commented on #360
Closed via #360.

[2017-04-13 20:32] #360 closed, assigned to akaplo

[2017-04-14 18:07] sherson commented on #231
Seritta said they were put on the buses yesterday.

[2017-04-14 18:07] #231 closed, assigned to sherson

[2017-04-14 21:56] akaplo commented on #231
FWIW @werebus there are no longer any asterisks.

[2017-04-17 17:32] akaplo opened #369 "Carrying Over Favorites From 1.x"
The web version of PVTrAck does this without issue.

The mobile version, however, is another story.  The way we stored favorites/etc in 1.x was restricted to using the webview's implementation of localstorage.

In Ionic 2 the docs tell us this is no longer the case for the following reason:

We can override this decision by telling the framework it **must** use localstorage and therefore enable ou

[2017-04-17 23:57] akaplo opened #371 "Can't Load Any Page That Requires Maps As the First Page"
Navigating to any page **from MyBuses* (or any other page that doesn't immediately require google maps), works.  Loading it as the first page via its URL, however, doesn't:

To reproduce:
1a. go to https://m.pvta.com/#/route/20030/map (or any RouteId will do)
1b. go to https://m.pvta.com/#/plan-trip
1c. go to https://m.pvta.com/#/stop/56/map (or any StopId will do)

2. Observe the white screen and

[2017-04-18 12:30] werebus commented on #369
I'm curious to know how much of on ordeal some sort of... migration tool ❔ would be.  That is can we write something that manually fishes around in localstorage for favorites, adds them to the default app storage, then deletes the localstorage store? After a time, we could remove that feature (when analytics show us that most people have upgraded, perhaps?)

If that's an impractical solution, then

[2017-04-18 15:22] akaplo commented on #369
That would require us to be able to change the storage driver at runtime, which I [don't think we can do](https://github.com/driftyco/ionic-storage/blob/master/src/storage.ts).  localforage, which IonicStorage is simply a wrapper for, can do this with its `setInstance()` method, so I'm unsure why Ionic didn't expose that.

[This forum answer](https://forum.ionicframework.com/t/multiple-instances-s

[2017-04-18 15:39] werebus commented on #369
Yeah, you definitely don't want to do multiple IonicStorage instances.  But, surely the [lower-level access](https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage)  is there too, right.

[2017-04-18 15:43] sherson commented on #369
Is there an easy (and non-annoying) way to notify users with something to the effect of:

(also, just to confirm that I didn't misunderstand... is that actually true?)

[2017-04-19 01:02] akaplo commented on #369
@sherson you understand correctly, and @werebus you make a great point.  This is feasible using the method described by the accepted answer [here](https://stackoverflow.com/questions/8419354/get-html5-localstorage-keys), combined with the fact that we have a `returningUser` property stored in the original storage.

I'll work something out now and get back to you.

[2017-04-19 01:20] akaplo commented on #369
@sherson you understand correctly, and @werebus you make a good point, but there's no guarantee of what type of storage was being used on each user's device (local*Forage*, from 1.x, tries to use IndexedDB, WebSql, and local*Storage* in that order).

We have a few options available:

1. Turns out removing the CordovaSQLite plugin will cause IonicStorage (2.x) to revert to the same behavior local*F

[2017-04-20 03:44] akaplo commented on #369
Turns out option 2 (the most desirable option from a user's perspective) is pretty easy to implement.  PR coming soon. 😎

[2017-04-20 03:45] akaplo commented on #230
Enrollment accepted, now it wants a credit card. PVTA IT has been notified.

[2017-04-20 03:46] akaplo commented on #371
Not a problem with 1.x because the `<script>` tag that loads the Maps API is a blocking call inside of `<head>`, before any JS is ever run.

#351, while clean and efficient in most regards, adds the same tag to the HTML during JS's runtime. @werebus and I are both independently researching solutions.

[2017-05-09 21:11] werebus opened #378 "Version-constraining ionic and cordova?"
The "prerequisites" step in the README instruct devs to `npm install -g ionic cordova`

Today @Anbranin did so, and got slightly newer versions of `ionic-cli`, etc. Is there a way to "lock" these libraries too?

[2017-05-10 13:22] akaplo commented on #378
Unfortunately, not that I can tell.  The package.json is only for the repo directory(s), and trying to specify a version of ionic prompts an immediate
`npm WARN prefer global ionic should be installed with -g`
when you run `npm install.`

[2017-05-10 14:26] akaplo commented on #371
Closed by #375.

[2017-05-10 14:26] #371 closed, assigned to nobody

[2017-05-10 14:27] akaplo commented on #369
Closed by #372.

[2017-05-10 14:27] #369 closed, assigned to akaplo

[2017-05-10 14:28] akaplo commented on #230
Access to iTunes Connect has been obtained, and a beta has been uploaded for Apple's final review before publishing.  We officially have full-fledged App Store credentials as of 5/9/17.

Thanks to @sherson for his persistence and hard work!

[2017-05-10 14:28] #230 closed, assigned to sherson

[2017-05-10 18:22] werebus commented on #378
Yeah, I am just wondering if there's *any* way to communicate the versions we're using?  A "bootstrap" script? Even, perhaps, something more specific in the README?

[2017-05-10 19:24] akaplo commented on #378
Yeah. I had some thoughts, see my comment on #377.

[2017-05-10 23:36] akaplo opened #379 "Swipe To Delete Favorites On My Buses"
In PVTrAck 1.x, one could swipe left on their favorites on MyBuses and be greeted with a way to delete them, like so:
![merp](https://cloud.githubusercontent.com/assets/7144148/25925664/f3c7d822-35b7-11e7-9c1f-0162d5352b74.gif)

PVTrAck 2.x doesn't have this yet, and would be a nice little addition.  Doing so will require small changes to the MyBuses view and component, and will familiarize you wi

[2017-05-10 23:49] akaplo opened #380 "Saved Trips Sometimes Not Loading Correctly"
Loading a saved trip should work as follows:
![merp](https://cloud.githubusercontent.com/assets/7144148/25925822/15b4d61e-35b9-11e7-9b71-88f15538aa57.gif)

As you can see, everything got populated and the app downloaded the best route and displayed it for you all on its own.

When Plan Trip is the first page to use Maps, we see the following behavior:
![merp](https://cloud.githubusercontent.com/as

[2017-05-12 00:07] akaplo commented on #283
I think we have this, on [lines 8-12 of manifest.json](https://github.com/umts/pvta-multiplatform/blob/master/src/manifest.json#L8).

[2017-05-12 00:08] akaplo commented on #283
Ah yes, closed by #370.

[2017-05-12 00:08] #283 closed, assigned to akaplo

[2017-05-12 00:10] akaplo opened #382 "iOS Safari Install Banner"
Similar to how #283 was resolved.  Would appear on iOS Safari and would tell you that, yes, "there's an app for that."

How this would be done is documented [here](https://developer.apple.com/library/content/documentation/AppleApplications/Reference/SafariWebContent/PromotingAppswithAppBanners/PromotingAppswithAppBanners.html).

[2017-05-12 00:11] akaplo opened #383 "Update In-App App Store Link"
![image](https://cloud.githubusercontent.com/assets/7144148/25976941/f4255fa0-3685-11e7-8df9-7bb338025d21.png)

It's no longer coming soon to iOS, cause it's HERE YO.

[2017-05-12 00:15] sherson commented on #383
:+1:

[2017-06-03 19:32] akaplo commented on #378
I think [these lines](https://github.com/umts/pvta-multiplatform/blob/master/.travis.yml#L27) in travis.yml are causing our PR build failures:

[code]

The issue is that the newest versions of the Ionic CLI require a CLI plugin in order to deal with Ionic projects (odd, huh?). Running `ionic state clear` before `npm install` installs this plugin causes the failure.

Travis.yml was largely borrowed

[2017-06-07 14:47] sherson opened #387 "Improve menu navigation for screen readers"
We received this feedback:

roots and stops, and add stops to my favorites list.

menu at the top of the app.  Voiceover focus stays on the Menu button,
and there is no indication that a menu has been opened, unless a user
taps on the middle of the screen and then cursor focus jumps into the
menu.

collapsed", and then "Menu open, double tap to close" when a user
interacts with it.    This will ma

[2017-06-15 12:38] dfaulken opened #388 "Unclear relationship between "My" stuff and heart icon?"
When we called them favorites, I think it was (a little) clearer, but I actually had to think for a moment about what the heart icon did when looking at one of my stops.

Perhaps a heart icon next to the My Stops and My Routes list headers?

[2017-06-15 17:18] dfaulken opened #389 "Pressing Back doesn't close modals"
If downloading departures takes forever and I press Back to abort and do something else, the modal remains in place, and the previous page is navigated to underneath it. The only fix seems to be closing and restarting the app.

I would expect pressing back to close the modal, either with or without also going back to the previous page (I think either is fine).

[2017-06-19 21:08] mboneil10 commented on #388
As @dfaulken suggests, a heart icon next to the My Stops and My Routes list headers is helpful. Related enhancements that @Anbranin and @werebus came up with:
- Add icons to all headers on the nav bar
   - A heart icon for My Buses, a gear icon for Settings, etc.
- Edit headers on My Buses page
   - Your Routes to Your Favorite Routes
   - Your Stops to Your Favorite Stops
- Change My Buses to Fav

[2017-06-20 14:30] mboneil10 opened #390 "Invalid Plugin"
Set up multiplatform on my computer, but it took more steps than those in the readme. There was an invalid plugin error after running `ionic serve -c`. I added a new plugin, which made `ionic serve -c` run as expected. Not sure what caused this problem or if the fix was appropriate.

[2017-06-20 15:21] akaplo commented on #390
Interesting. Can you provide the exact error/failure output and the commands you used to fix it?

[2017-06-20 16:36] mboneil10 commented on #390
I checked out to master to recreate the error, but that branch doesn't produce it. So, I can't provide the exact error. Maybe I made a mistake earlier on, so here's what happened.

I setup multiplatform. There was one error popping up after `ionic serve -c:`
[code]
(Based off of my search history from last night)

At this point, I looked back at the readme... I hadn't read the "Testing on Devices"

[2017-06-20 16:53] akaplo commented on #390
I was able to reproduce that same unhelpful error message on a clean copy of master, so this isn't your fault at all!  Updating the plugin versions seems to solve the problem, so I assume we were trying to use old plugin versions on a new version of the CLI and it didn't like that.

I've created a [cli branch](https://github.com/umts/pvta-multiplatform/tree/cli) and opened a [pr](https://github.co

[2017-06-20 16:56] mboneil10 commented on #390
YAY!

[2017-06-21 17:18] mboneil10 opened #392 "Your Routes/Stops Text Doesn't Appear on My Buses"
So, this is the screen that I start with.
<img width="905" alt="screen shot 2017-06-21 at 12 46 38 pm" src="https://user-images.githubusercontent.com/19267771/27396543-5126e870-5681-11e7-8e97-24262547555d.png">

Both one stop and a route are added. Doesn't matter what route or stop. Also, this error occurs even if I were to add just a stop or route separately.
<img width="911" alt="screen shot 201

[2017-06-21 17:20] mboneil10 commented on #392
@akaplo, thoughts?

[2017-06-21 18:01] werebus commented on #392
Huh. I could see either behavior. You could make the argument that the text is just for new users and once they've added and removed some favorites then they know what those lists are for. I guess?

[2017-06-21 18:03] mboneil10 commented on #392
That's what I was thinking, too. But I'm not 100% sure.

[2017-06-21 18:21] #390 closed, assigned to nobody

[2017-06-21 18:23] akaplo commented on #392
I can guarantee that this behavior wasn't on purpose.

This occurs because of [this line](https://github.com/umts/pvta-multiplatform/blob/master/src/pages/my-buses/my-buses.html#L27).  First-time users have undefined favorites arrays.  After they've added something to their favorites and then removed it, these arrays are **defined**, but empty.  The referenced line checks for whether the array is

[2017-06-21 18:29] mboneil10 commented on #392
@Anbranin? Halp please

[2017-06-21 18:31] mboneil10 commented on #392
On what we should do with this.

[2017-06-21 18:31] akaplo commented on #388
1. I like the idea of icons in the _sidemenu_ (the [Navbar](http://ionicframework.com/docs/api/components/toolbar/Navbar/) is the bar that always spans the top of each page).

2. Yes.

3. Not sure about the page name refactor.  I like the idea of having a page whose title clearly communicates "this is the home page," which "My Buses" does and "Favorites" doesn't, at least in my opinion.  Further,

[2017-06-21 18:36] mboneil10 commented on #388
Yeah, that's what I meant, the nav menu/side menu. Sorry, I finally understood the difference when I looked at the code.

Ok.

I thought My Buses was a little weird, but I'm neutral on this issue.

Okay, I thought that 1.x did the toast thing. Why was it taken away?

[2017-06-21 18:38] akaplo commented on #388
All good! There was no reason; it was a good feature, we just never got around to adding it to 2.x.  I thought there was even an issue for it, but guess not.

[2017-06-21 19:35] mboneil10 commented on #392
So... This is an error? And should be fixed? @akaplo

[2017-06-21 20:01] akaplo commented on #392
Yup! Should be simple.

[2017-06-21 20:19] akaplo commented on #389
This is a longstanding issue. I'll take a look into this, but it could get hairy.

[2017-06-22 21:21] #392 closed, assigned to mboneil10

[2017-06-23 16:24] akaplo opened #396 ""Remind Me""
Feature proposition: On the Stop and Schedule pages, we provide an option to send the user a local notification to remind them to catch their bus.

I recommend rolling out this feature in stages:

1. Use [Ionic Native's LocalNotification](http://ionicframework.com/docs/native/local-notifications/) plugin to send delayed notifications for each **_scheduled_** departure on the stop page.

     The u

[2017-06-26 20:39] mboneil10 opened #397 "Schedule Page Map Single Scroll"
I click on the schedule page and scroll up. However, instead of scrolling further up on the page, I zoom in on the map (for both mobile and desktop). My work around: Dodge the map and continue scrolling on the screen above it.

Basically, scrolling on this page can't be done in one fluid motion. The way I'd fix this is to shrink the map so it doesn't stretch across the page. Or disable zooming unl

[2017-06-26 21:08] akaplo commented on #397
I've recently begun seeing a solution to this implemented on touch devices: ["cooperative scrolling"](https://developers.google.com/maps/documentation/javascript/interaction).

Simple as adding `gestureHandling: 'cooperative'` to each map.  This will only affect behavior on touch devices however; desktop is another story.

[2017-06-26 21:15] mboneil10 commented on #397
Yes! @akaplo, that is what we need. Desktop can wait for now.

[2017-06-26 21:32] akaplo commented on #397
On it.  ~~I'm going to go with [`auto`](https://developers.google.com/maps/documentation/javascript/interaction#gesture-handling) instead of `cooperative`, because our full-page maps (Route Map and Stop Map) don't need this feature.~~ Since this must be set by-page, easier to just enable in on Schedule only.

[2017-06-27 03:23] #383 closed, assigned to akaplo

[2017-06-27 16:02] mboneil10 commented on #396
I think this is a reasonable and doable feature. Probably not top priority, but I like the idea. It would be helpful to those of us who miss the bus... 🚌

[2017-06-27 17:58] werebus commented on #396
This seems to be a valuable addition. I can definitely see why scheduled departures are a drastically easier target, and it's 100% where we should start. But, just out of curiosity, how arduous would estimated departures be? I assume it would require some sort of background service.

Some other thoughts:

*  In an ideal word, tapping the notification in part 1. would open the stop page with the sp

[2017-06-28 15:18] mboneil10 opened #400 "Delete console.log messages In Production"
From my understanding, console.log is used for debugging purposes. Some of these messages don't reflect what's happening or where the errors occur. For example,
[this](https://github.com/umts/pvta-multiplatform/blob/a63d96f309638fd79dd43f02bc8da1978d42b467/src/pages/routes-and-stops/routes-and-stops.component.ts#L180) seems unprofessional and unhelpful, but maybe I have no sense of humor.

In addi

[2017-06-28 15:56] werebus commented on #400
I think it's fine to just remove them.

[2017-06-28 15:56] mboneil10 commented on #400
Okay!

[2017-06-28 16:40] mboneil10 commented on #400
_All_ of them. OK'd by @werebus and @dfaulken.

[2017-06-28 17:33] werebus commented on #378
So, #399 *does* alleviate this. An alternate solution (which also has its downsides):

1.  Add it to the `package.json` anyways, warnings be damned.
2.  Add something like
[code]
3.  Run the tools as `npm run ionic` and `npm run cordova`

You can also obviate the need for step three by futzing with your $PATH (manually, or using [direnv][direnv]) because the binaries are also available in `./node_

[2017-06-29 04:38] akaplo commented on #400
I'm glad this has been brought it up, but I'm unclear on what resolving it would mean.  Are we interested in removing the `console` statements because we don't want them in _master_, or because we don't want them in _production_?

My personal preferences are as follows:

For _master_, I kind of like having useful, professional debug statements in the code because another developer working on a tro

[2017-06-29 15:12] werebus commented on #400
You know, on second consideration, I think you're right, @akaplo. The console is really the only logging facility available on client-side JS. So, as long as the metric is, in fact, useful and professional, maybe they should stay.

Stripping them from production *does* look pretty easy. Ages ago, this used to be advised because there are actually some browsers out there for which `window.console`

[2017-06-29 15:14] mboneil10 commented on #400
No worries. I just want us to all be on the same page. I'll step back from this issue for a little bit.

[2017-06-29 20:44] mboneil10 commented on #388
I didn't fully respond to your comment about MyBuses changing to Favorites, sorry. So, "My Buses" does sound more like the homepage than "Favorites." However, My Buses doesn't explicitly tell the user what is on the page (as is the issue, the relationship between "My" stuff and the heart icon was unclear). After talking to @Anbranin and @werebus, we decided that a rename to "Favorites" would be he

[2017-06-29 21:07] sherson commented on #396
I have mixed feelings about sending notifications based only on schedule data. Currently, the schedule (aka plan-trip) section is useful for planning something later in the day (or on another day). But once we get close to a desired departure time, I (as a passenger) want real-time.

That written, if it behaved as @werebus suggested (_"tapping the notification in part 1. would open the stop page w

[2017-06-30 14:20] mboneil10 commented on #387
Is the problem that the homepage of the app provides no help with what to do next? I don't understand what the user means by "menu." I can't find anything on the homepage that is a collapsable menu. Or are they just giving an example? Please halp.

[2017-07-03 16:54] mboneil10 opened #402 "Improve Deletion of Saved Trips, Stops, and Routes"
There's no clear way to delete saved trips. Let's make one.

[2017-07-03 17:45] werebus commented on #402
:+1: While we're at it, there should maybe be a less weird way to un-favorite routes and stops too.  Right now you have to do that from the given route or stop page. Or, perversly, by clicking on the "Add Routes" or "Add Stops" button.

[2017-07-03 20:49] mboneil10 commented on #387
The back button doesn't indicate that the page has been changed, either. Is this something to consider?

[2017-07-03 23:30] mboneil10 commented on #387
Researching my above question and more. It might take some time to figure out an answer. Since it hasn't become an issue, I'm more inclined to leave it as is.

FWIW, I've noticed prominent styles of back buttons on my phone apps. The back button is an arrow `<` or`>`. Typical approaches:
1. Text for the hierarchy is present next to the arrow. The text provides the destination for the back button.

[2017-07-04 14:08] mboneil10 commented on #402
The functionality is already there. "Trips can be deleted by using slide to delete on My Buses, like below."
![screenshot_20170703-232052](https://user-images.githubusercontent.com/19267771/27833277-0a46c2bc-60a0-11e7-829e-6e2d7df9d922.png)
Photo and quote from @akaplo.

All that needs to be done is to make the functionality more obvious (@dfaulken).

[2017-07-04 14:08] mboneil10 commented on #402
Sorry, accidentally closed the issue.

[2017-07-04 14:15] mboneil10 commented on #402
@werebus, what you're asking for is addressed in #379. @AkivaGreen is working on that in #385.

[2017-07-04 14:20] dfaulken commented on #402
We could change the text to "Add / Remove Stops" etc.

Not saying we should. Just that we could.

[2017-07-04 15:08] mboneil10 commented on #402
I agree, that seems fine to me. I was thinking that under the different headings, e.g. "Your Stops", there could be the text "Swipe right on a favorited stop to delete".

[2017-07-04 15:11] mboneil10 commented on #402
Is it poor practice to investigate what other apps look like? On other apps, the swipe to delete is not clearly marked on a list of things, but there is an "edit" button in the upper right hand corner. One can delete multiple items at a time in edit mode. Something to consider. I might be getting ahead of myself.

[2017-07-04 21:03] akaplo commented on #402
Like @mboneil10 mentioned, the list headers could include an "edit" button that would reveal delete buttons on all the list items when clicked.  This was an old design principle on iOS that I recall liking - not sure if they still use it.

[2017-07-05 13:27] sherson commented on #387
Let's put back button behavior/style on the list of things to ask our tester.

[2017-07-05 14:26] werebus commented on #402
I don't mind the swipe-to-delete interface , but I have a minor concern.  I forgot that it was a thing, and wasn't able to discover it again. There should be some sort of indicator, but I don't know what.

Looking over the [Material Designs specs][1], our list looks a lot like the example of a "leave-behind". But...not exactly. The separator on our list doesn't extend all the way to the edge - in

[2017-07-05 16:52] akaplo commented on #380
I realize now that the problem was in fact created by my own mediocre code that I'm still unsure how to fix.

The [MapService function ](https://github.com/umts/pvta-multiplatform/blob/master/src/providers/map.service.ts#L14) that downloads Google Maps gets passed the correct Plan Trip function as a callback, but the issue is that it **doesn't** [get passed the loadedTrip param](https://github.com

[2017-07-06 16:47] mboneil10 commented on #387
My original fix was going to be an [aria-label](https://www.w3.org/TR/wai-aria/states_and_properties#aria-label) on `menuToggle` that changes depending on it being opened or closed. It would look like: `<... aria-label="{{open ? 'menu opened' : 'menu closed'}}" ... >` with some boolean value `open`. So, this would mean that when the menu opens, the screenreader would read "menu opened" and "menu c

[2017-07-07 05:02] akaplo opened #405 "Convert All Toast Usages Into Service Calls"
#393 created the ToastService, which wraps displaying a Toast message into set of helper function(s).  The PR was large and only Toasts on the Favorites page were converted to use the new service's helper functions.  This issue will be resolved when all components present toasts by calling functions in the ToastService.

This issue will familiarize you with some of our components and services.

[2017-07-07 05:05] akaplo commented on #389
A newer version of Ionic has baked-in support, but it'd require us to completely rewrite our routing.  See #406

[2017-07-07 05:11] akaplo opened #406 "Ionic 3"
**EDIT 8/3/17** Either I was misunderstanding from the beginning or they fixed this in some updates to 3.x, but most of what I believed was barring us from upgrading was simply untrue.  See #413.

**ORIGINAL**
Ionic 3 has been stable for almost 2 months.  There's a single major roadblock for us to update to it: routing.  We use explicit URLs (/favorites, /settings, etc) like a website, which Ionic

[2017-07-07 05:18] akaplo commented on #388
I absolutely agree with that reasoning.  This was something that never occurred to me when I originally built it.  Good thinking @everyone!

[2017-07-07 05:25] akaplo commented on #378
That's an interesting point.  I think the #399 is still the best course of action after reading the issue you linked to.  If you disagree we can talk more specifically about benefits/drawbacks of each approach.

[2017-07-07 13:16] artarazavi commented on #402
I noticed a lot of apps also use the long-press function when you press and hold an item and check-boxes appear then you can delete multiple items at a time. But they use that functionality along with the edit button. Just a suggestion :)

[2017-07-07 14:44] #388 closed, assigned to mboneil10

[2017-07-07 14:47] akaplo commented on #405
See [examples such as this one](https://github.com/umts/pvta-multiplatform/blob/master/src/pages/plan-trip/plan-trip.component.ts#L104) for what we're looking to remove, and examples like [this](https://github.com/umts/pvta-multiplatform/blob/master/src/pages/routes-and-stops/routes-and-stops.component.ts#L113) for what we're looking to move to.

You'll need to add at least 1 helper function to th

[2017-07-07 14:56] #378 closed, assigned to nobody

[2017-07-07 16:58] mboneil10 commented on #406
Whoa. I'm completely split on this. The change would create a lot of unnecessary duplicate code. Seeing as how frustrated I get with the [four main pages all containing the same navmenu](https://github.com/umts/pvta-multiplatform/blob/9649ea1c72f5db51337062bbd55e4ba26dfd4387/src/pages/settings/settings.html#L2), I don't know how we could deal with fixes if everything is completely spread out. In t

[2017-07-15 18:19] akaplo opened #407 "Rework Stop Dropdown"
#384 needs a few more tweaks.

[2017-07-23 20:38] akaplo opened #409 "Too Much Toast?"
[This commit](https://github.com/umts/pvta-multiplatform/commit/6185b0ebb32818a7fab568121aabdbd613e475cd) added toasts on the Routes & Stops page when you favorite or unfavorite a route, but they don't hide themselves.  You could end up with an annoying number of them, like so:

![toast](https://user-images.githubusercontent.com/7144148/28502673-4a7860b4-6fc5-11e7-95cc-90f0b4a59a0a.gif)

Is this w

[2017-07-23 20:41] #397 closed, assigned to akaplo

[2017-07-23 22:31] #387 closed, assigned to mboneil10

[2017-07-23 23:02] mboneil10 commented on #409
I find the amount of toasts to be saddening, too. Do you mean setting a duration for the favorite toast messages? We could add a duration to [this line](https://github.com/umts/pvta-multiplatform/blob/master/src/providers/toast.service.ts#L11). If you mean hiding it, then that could be done with some sort of if statement in the toast service. Either way, I think this could be a quick fix but not t

[2017-07-23 23:12] mboneil10 commented on #389
Is this a sign to upgrade then? 😨 @akaplo

[2017-07-23 23:23] mboneil10 commented on #406
Since you said Ionic 3 would help us out with [this bug](https://github.com/umts/pvta-multiplatform/issues/389), I'm currently torn. Will label pros and cons to updating. We'll figure something out.

[2017-07-23 23:26] akaplo commented on #409
Yup!  Duration is a solution, or we could make the Toast service close an open Toast whenever it tries to make a new one.

[2017-07-23 23:27] akaplo commented on #406
Yeah, same.  Input from others like @Anbranin, @werebus, and @dfaulken might help!

[2017-07-23 23:30] mboneil10 commented on #406
plz

[2017-07-24 14:59] mboneil10 commented on #406
Let's just try it out.

[2017-07-24 15:01] akaplo-cb commented on #406
I think I did most of this work at one point - if somebody decides to hack at this, please wait till I get home tonight and see if I have a local branch sitting on my computer.

[2017-07-24 15:02] akaplo commented on #406
I think I did most of this work at one point - if somebody decides to hack at this, please wait till I get home tonight and see if I have a local branch sitting on my computer.

[2017-07-24 15:04] mboneil10 commented on #406
Ok, I won't. I'll be working on the delete favorite routes and stops thing. I don't see anyone picking it up today. Thanks Aaron! 👍

[2017-07-25 13:13] mboneil10 commented on #409
Granted, it's not like anyone is favoriting routes and stops wildly. But I could do this.

[2017-07-25 18:17] mboneil10 commented on #406
@Anbranin said yes, too. I'll do this later. If you still didn't find it.

[2017-07-26 04:50] akaplo commented on #406
Yeah. Sadly, that branch must've gotten deleted out of either carelessness or frustration (both of which would be my fault).

[2017-07-28 13:36] #379 closed, assigned to AkivaGreen, mboneil10

[2017-07-28 18:15] mboneil10 commented on #406
Ok. I try today.

[2017-07-29 20:03] mboneil10 commented on #348
How did you reproduce the bug?

[2017-07-30 16:14] akaplo commented on #406
I'll drop assorted oddities from the upgrade in this comment

1. ![image](https://user-images.githubusercontent.com/7144148/28755077-aaeef43e-7520-11e7-9b21-f308c830e375.png)

[2017-07-30 16:16] mboneil10 commented on #409
![less-toast](https://user-images.githubusercontent.com/19267771/28755088-db58a0e8-7520-11e7-8288-888103456c62.gif)

[2017-07-31 19:00] mboneil10 commented on #406
We're at a point where we get something similar to [this issue](https://github.com/umts/pvta-multiplatform/issues/371), and the `console.error` reads: `PlanTripComponent ionViewWillEnter error: google is not defined`. Problem with loading.

[2017-08-04 01:22] #409 closed, assigned to mboneil10

[2017-08-04 02:51] akaplo commented on #389
Assuming #413 gets merged, the `enableBackdropDismiss` property on the [LoadingController](http://ionicframework.com/docs/api/components/loading/LoadingController/) should resolve this issue.

With this implementation, tapping anywhere else on the app should remove the loader, freeing you to press ⬅️  to your ❤️ 's content!

[2017-08-04 17:07] #402 closed, assigned to mboneil10

[2017-08-05 20:30] akaplo commented on #396
I've spent a few hours on this in the last month - it's actually a pretty easy implementation.  **But**, turns out the Cordova plugin is actually quite bad - it doesn't support multi-line notifications and (on newer versions of Android, at least), I'm unable to set the notification icon to be non-default.

It'd be an OK experience for our users though; I'll add a gif shortly and I'll be interested

[2017-08-05 20:35] akaplo commented on #380
This is resolved for rlz in #413 - somehow the fact that we **can** pass params to this callback function just like any other escaped my small mind. See the one-liner fix [here](https://github.com/umts/pvta-multiplatform/pull/413/commits/ccb1e3320d7a4c4d53d854a4bc8d393ffa58abd8#diff-8f802a9b80a60c0a01b7ed67374a46b8R200).

[2017-08-05 20:54] akaplo commented on #221
As of iOS 9.2, the following [Apple guidelines](https://developer.apple.com/library/content/documentation/General/Conceptual/AppSearch/UniversalLinks.html) must be followed for deeplinking to work on iOS.

[2017-08-05 21:07] akaplo commented on #396
Perhaps a better approach would be to use [PhoneGap's plugin](http://ionicframework.com/docs/native/phonegap-local-notification/), which is an implementation of [W3C's Web Notifications API](https://www.w3.org/TR/notifications/#api) for Cordova projects.  MDN has a [good overview](https://developer.mozilla.org/en-US/docs/Web/API/Notifications_API/Using_the_Notifications_API).

[2017-08-06 20:15] janpio opened #417 ""Edit Favorite Routes": Items should be tappable"
The list items on "Edit Favorite Routes" should be tappable to select the checkbox on the left. (similar to "Edit Favorite Stops")

[2017-08-06 20:18] janpio opened #418 ""Edit Favorite Routes": Items should be vertically centered"
Because of a) the bigger size of the route number/name and b) the multi-line route names text in the list is not vertically centered in the items. This would look much nicer if this were the case.

[2017-08-06 20:19] janpio opened #419 ""Edit Favorite Stops": Pagination should be centered"
... instead of `padding-left`ed. Tappable area should probably also be a bit bigger.

[2017-08-06 20:20] janpio opened #420 ""There are no buses currently on the ...": Hide "Buses""
no further text

[2017-08-06 20:24] janpio commented on #417
Ha, this seems to be possible if you don't tap the text but on the empty space. Something seems to catch the event on the text...

[2017-08-06 20:27] janpio opened #421 "Nice app!"
Hey, just noticed your app via a comment on some Ionic issue, and played around a bit what also caused me to create some issues for stuff that might be improved. But I didn't only want to leave "negative" feedback, so this additional issue to tell you that I really like the app and wish something as simple and nice would exist for Berlin. Keep up the good work!

[2017-08-07 23:04] akaplo commented on #421
Thanks @janpio!  We really appreciate the feedback (both types 😉 ).  We're a student-run University bus garage, so the thought of people abroad being somewhat jealous of our system is awe-inspiring!

[2017-08-08 00:11] akaplo commented on #406
PR is good to go.  Issue described by @mboneil10 was solved by using anonymous callbacks properly and is **also present on master**.

[2017-08-10 04:52] akaplo commented on #226
I've begun working on this out of sheer boredom 🎉

I'm picturing a layout that's split in half, where the top is a map that displays stops and route traces, and the bottom displays some combination of nearest stops, a mini-departure board, and maybe even some route/vehicle details.

I was thinking of making the bottom panel collapsible, and if you click on a stop or route on the map, it'll slide b

[2017-08-10 14:12] sherson commented on #226
I think that could work well. A few thoughts, however:

* Even with the navigation menu collapsed, a phone screen may be a bit cramped for all that info (I think it'll work as long as we're mindful of the limited real estate).
* Will the list of nearest stops be the same as what the map is zoomed out to see? That probably makes sense.
* Map might look good if it was zoomed in to show your current

[2017-08-15 22:43] mboneil10 commented on #417
Oh, good catch @janpio!

[2017-08-16 01:37] #406 closed, assigned to akaplo, mboneil10

[2017-08-16 01:38] #421 closed, assigned to nobody

[2017-08-16 01:47] #420 closed, assigned to akaplo

[2017-08-16 13:32] mboneil10 commented on #419
Is there an ionic/mobile app style guide you're referring to, @janpio?

[2017-08-16 13:39] janpio commented on #419
No, this just looks odd non-centered. iPhone 5S looks quite different than a iPhone 6 Plus for example.

[2017-08-16 20:19] mboneil10 commented on #419
Ah, okay. Thank you. I agree that the `padding` looks a bit odd and could be centered instead. As for the tappable area, it seems to be the same size as the stop checkboxes.

[2017-08-16 23:01] akaplo commented on #419
@mboneil10 if you need help with this lmk. FYI we use a [library for pagination](https://github.com/michaelbromley/ngx-pagination).  They have an option for us to override their styling entirely but keep their functionality (it works pretty well) - perhaps it's something we should consider.

[2017-08-16 23:02] akaplo opened #425 "Update Pagination Library Name/Version"
The [pagination library](https://github.com/michaelbromley/ngx-pagination) we use has been renamed in a major update since we started using it, we should update our package.json after consulting their docs.

[2017-08-17 14:19] mboneil10 commented on #419
Okay, I can do that.

[2017-08-17 14:25] mboneil10 commented on #389
#413 _did_ get merged! I'll work on this. (edit: I realize now that I self-assigned this 19 days ago. LOL)

[2017-08-17 22:54] mboneil10 commented on #389
And we don't want the property on each of the different modals because that would be too much, correct? Or is that because we don't care if it's a modal -- we want a user to be able to press back on anything that's loading? @akaplo

[2017-08-26 02:01] mboneil10 commented on #419
I'm hesitant on overriding styling. But since it's only a library I don't feel that bad about it.

[2017-08-28 13:58] akaplo commented on #419
The library is built under the assumption that users will be overriding.

[2017-08-30 02:35] akaplo opened #426 "Master is Broken"
This is what's currently on [master](https://github.com/umts/pvta-multiplatform/commit/144edcf509d09fc8cd05aa94b0063240737257e1):

![image](https://user-images.githubusercontent.com/7144148/29852786-06c2f610-8d0a-11e7-8a02-54d801d575f7.png)

Narrowed it down us having two conflicting versions of localforage - one that Ionic uses, and one in our [package.json](https://github.com/umts/pvta-multiplat

[2017-08-30 14:06] mboneil10 commented on #426
Oh no

[2017-08-30 14:19] #426 closed, assigned to nobody

[2017-08-30 16:50] #407 closed, assigned to akaplo

[2017-08-31 16:21] akaplo opened #428 "Remove Unneeded CLI Plugins"
As of Ionic CLI 3.9, we no longer need CLI plugins.  We'll get notified about this every time we run an `ionic` command, so we should remove them.

[2017-09-01 01:52] akaplo commented on #226
Making slow but sure progress on the map (I'm personally quite proud of the blue location dot, which Google makes you build yourself 🐐 ).  Any ideas on what icons should be used for bus stops?  I'm just rendering a bus SVG, but how about mini-PVTA icons (logo on a white square background)?

![image](https://user-images.githubusercontent.com/7144148/29952305-89824582-8e96-11e7-92b1-d38d309b1931.png

[2017-09-01 20:57] sherson commented on #226
I suspect a bunch of mini-PVTA icons will look cluttered, but sure give it a shot.

Does it make sense to use the Google maps bus stop icon (if that's permitted) or something similar?

[2017-09-02 14:29] mboneil10 commented on #389
Jeez. Past Molly can't read. You answered my question above, @akaplo. Will figure this out.

[2017-09-03 05:04] akaplo commented on #226
That's a good point - I'll give it a try.  For now, I'm going with simple red dots, which are pretty clean.  We can also do [marker clustering](https://developers.google.com/maps/documentation/javascript/marker-clustering).

Recognition of which routes service a given stop is live, but dependent on the active service type - for example, during summer/winter service, stops like `Mullins Center` and

[2017-09-04 23:46] #428 closed, assigned to mboneil10

[2017-09-05 00:53] akaplo commented on #226
Continued progress screenshot. Please say thoughts/feedback!

Vehicles are shown as dots colored by the route they're on, with the last 2 characters of their route (i.e. 30, 43, 0E instead of 30, B43, P20E) stamped on them.  Clicking them gets you some more details, namely direction and destination.  Any thoughts on this format, especially with the labelling issue in the case of the P20E?

![image

[2017-09-05 01:32] sherson commented on #226
That looks quite slick.

Would be useful to see vehicle direction, but perhaps that can be added later.

Have mixed feelings about only showing the last two characters for each route number. While that's actually the useful information (for PVTA's current naming convention), what's being shown may not be obvious to the users (having B4, 12, and 0E all on the screen would be weird).

My initial tho

[2017-09-05 04:13] akaplo commented on #226
Thanks! I gave vehicle direction a shot. 4 SVGs, for north/south/east/west. We take the bus's heading and apply one of them accordingly, and we can fit 3 characters.

Let me know what you think - I'm open to different shape suggestions (but keep in mind before bikeshedding the current shapes that it took me 2 hours to get those SVG paths right 💀 ).

![image](https://user-images.githubusercontent.c

[2017-09-05 12:10] sherson commented on #226
Not as pretty as the previous version, but more functional. A couple observations:

* Route number looks offset
* Arrow doesn't quite blend with circle

That's bikesheddding, so :shipit: (can be tweaked later).

[2017-09-09 18:47] akaplo commented on #226
I agree with all that feedback. I dislike the vehicle markers more each time I look at them, so those will change.

More progress - I'd call this beta-quality.

![image](https://user-images.githubusercontent.com/7144148/30242874-167ca3ba-956d-11e7-8999-ac6537353c81.png)

**Still to do**
- [ ] clicking a stop on the _map_ selects it and shows departures below (currently only happens when you select

[2017-09-12 16:21] dfaulken opened #431 "Re-Enable momentjs Suffixes"
Looking at the screen which lists multiple upcoming departures of a particular route at a stop, I saw this:

Real time | "Scheduled" | "Estimated"
--- | --- | ---
8:24 am | 8:24 am | 8:28 am (4 minutes)
8:28 am | 8:24 am (4 minutes) | 8:28 am

Since I didn't look at my phone during the intervening 4 minutes, it caught me off guard a little. Perhaps we should distinguish between "in 4 minutes" and

[2017-09-12 21:15] akaplo commented on #431
Great catch @dfaulken. Easily reproducible.

Solution: http://momentjs.com/docs/#/displaying/fromnow/

[One liner fix for us](https://github.com/umts/pvta-multiplatform/blob/master/src/pages/stop/stop.component.ts#L187).

[2017-09-14 00:52] arbass22 opened #432 "Some screens do not have enough padding for the nav bar"
Screenshot taken on iPhone 7, iOS 10.3.3

![bus](https://user-images.githubusercontent.com/10891729/30407279-618a0c98-98c5-11e7-9c4a-f1a7c21e8607.png)

[2017-09-18 18:08] akaplo opened #433 "Remove "Coming Soon to iOS""
...from the sidemenu.  We have arrived, so no need to leave them in suspense 🎉

[2017-09-18 18:09] akaplo commented on #432
Thanks @arbass22!  We know about this and can reproduce it sporadically, but I'll look more seriously into it very soon.

[2017-09-18 19:24] akaplo commented on #433
Woopsie, shouldn't blindly listen to @sherson 😉 ; this has been done already.

[2017-09-18 19:24] #433 closed, assigned to nobody

[2017-09-18 21:41] sherson commented on #433
Hey there's a reason I asked about it in slack before creating an issue :P

[2017-09-21 11:49] werebus opened #436 "Preserve stop-sort preference"
We got this report via email:

And that's true. It's not a saved setting, but rather a temporary view change. Should we save it somehow?

It sounds like this person expected the choice to be preserved _per stop_. Or at lease per favorited stop.

[2017-09-21 13:18] akaplo commented on #436
To be fair, it _did_ persist in 1.x, this user could've come from there and wondered why that functionality was lost.  I'll check the analytics and report how often it was used - anyone have any arguments for or against?

[2017-09-22 15:25] akaplo opened #437 "Request Timeouts"
If we send a message to the Avail API, but it's down or hung and we never get a response, we don't time out.  We should, perhaps with a nifty error message!

[2017-09-22 19:51] dfaulken opened #438 "We don't round off secret seconds early enough"
![screenshot_20170922-135318](https://user-images.githubusercontent.com/3988134/30761849-c3b2c1b4-9fad-11e7-9aa9-76ed30300d35.png)

It's weird to say that 1:54 PM is in both one and two minutes. Presumably this comes from the Avail side in the form of an EDT including seconds. Seems like we should round that off before using the estimation, to avoid this weirdness.

[2017-09-24 18:56] mboneil10 commented on #419
Seems like we can't easily override the styling on this library. Issue is on standby.

[2017-09-29 23:38] mboneil10 opened #440 "tslint overflow"
Should we fix the tslint to reduce the amount of messages on the development server?

[2017-10-02 20:14] mboneil10 commented on #417
It also appears that they are only tappable at the edges of the item box.

[2017-10-02 20:20] mboneil10 commented on #417
Ah! The issue is with the columns.

[2017-10-05 00:11] #389 closed, assigned to mboneil10

[2017-10-05 00:12] akaplo commented on #440
Yes!

[2017-10-05 00:20] akaplo commented on #438
By 'round that off', do you mean consistently round up (or down) before having `momentjs` format it?  That's def the solution.

FWIW another way of stating the bug is as follows:
Avail gives us times like this:
[code]
When the current time is 10:00:00, moment will "round" and say that sdt is in 2 minutes and that edt is in 3, but we also show that they're both technically at 10:02.

[2017-10-24 16:15] sherson opened #442 "Add FAQ"
PVTA has expressed interest in adding text about inclement weather. They cited these as examples:
* http://metro.nfta.com/pdfs/Winters%20Rider%20Guide-web.pdf
* http://www.ci.oshkosh.wi.us/transit/assets/pdf/Winter_Weather_Tips.pdf

Perhaps we should consider a FAQ? Can have topics related to using the app, but I'm thinking it'd primarily be about riding buses. For reference:
* https://www.umass.e

[2017-10-30 17:24] mboneil10 commented on #442
This doesn't sound like a bad idea to me, even if it adds a lot of text to our app.

[2017-10-30 17:26] mboneil10 commented on #440
Should the approach be to "ignore" all of these messages or to fix our code so that they don't exist? @akaplo

[2017-10-30 22:11] sherson commented on #442
OK, [Seritta](http://umass.edu/transportation/seritta-norige) will be adding some more winter tips to http://umass.edu/transportation/faqs in the next couple weeks. We'll coordinate with her.

[2017-10-31 14:32] mboneil10 commented on #432
I'm not sure how to reproduce this issue, but I've been looking up solutions to the problem. How can I recreate it?

[2017-11-03 19:59] arbass22 opened #444 "Buses estimated time issue"
At first I thought that it was missing the 9:10am bus, but realized that the bus got labeled with an incorrect estimated time and then got put in the wrong spot in the list.  These are all the same bus, so not sure why the 9:10 would be assigned the much later estimated time.
![img_1129](https://user-images.githubusercontent.com/10891729/32393454-e4cfeaca-c0af-11e7-92f6-c80ac8aa74d6.jpg)

[2017-11-06 02:35] sherson commented on #444
Thanks for reporting this. Route 35 has three "blocks": 351, 352, and 353. 351 isn't recognized by the AVL system as Route 35. We don't know the cause, but we'll investigate further and contact the vendor about it.

This isn't a bug with this app (it appears to be a data problem that's messing up PVTA's real-time), but leaving this issue open.

[2017-11-11 14:54] mboneil10 commented on #438
@jmchatton mentioned that it would be useful if `sdt` and `edt`s in the past could include `ago` in the human readable time.

![screenshot_20171109-180031](https://user-images.githubusercontent.com/19267771/32690520-076172cc-c6c6-11e7-9a08-259e4ea47894.png)

[2017-11-20 19:24] werebus commented on #436
We got another request via email:

Although they are looking for an app-wide setting.

[2017-11-20 19:26] akaplo commented on #436
Welp, the 1.x style solution should still work.  I've made it high priority, since we've had 2 (❗️ 👻 ) users request it.  If you wish to respond, just say the app will remember their choice automagically in the next release.

[2017-11-20 19:57] jrgriff commented on #436
Hi, I am the second reporter. Remembering the preference on a per-stop basis ("1.x style") should be acceptable for my use, although an app-wide setting would certainly be preferable, as I will never want to use the order-by-route view (this view has honestly never made sense to me – but that’s a matter of personal preference I suppose…).